<ion-view view-title="Conducteur trouvé" ng-init="vibrate()">
  <ion-content>

    <div style="margin-top :10px;">

        <img class="circle" src="img/max.png" style="height:90px;width:90px;" alt="Max"/>

      <div class="row">
          <div class="col" style="margin-top:20px;">
            <h5 class="no-margin">Bonjour, je suis</h5>
            <h3 class="no-margin positive">Paul</h3>
            <h5 class="no-margin">je suis à 1200m</h5>
          </div>
          <div class="col" style="border-left:1px solid #BDBDBD">
            <div >
              <div class="text-hint">J'arrive avec une :</div>
              <strong>Peugeot noire</strong>
            </div>
            <div >
              <img height=60 src="img/peugeot_logo.png" alt="Citroën">
            </div>
          </div>
      </div>

      <div class="card" style="height:200px">
          <map-attente-conducteur style="height:100%;"></map-attente-conducteur>
      </div>

      <div class="card">
          <a href="http://www.boutic-nancy.fr/"><img style="height:130px;" src="img/vitrine_nancy.jpg" alt="Pub Vitrine Nancy"/></a>
      </div>

    </div>

  </ion-content>
</ion-view>
