<!--
  This template loads for the 'history' state (app.js)
  Show list of completed trips
  records is a $scope variable in HistoryCtrl (controllers.js)
  HistoryCtrl pull data from Trips service (services.js)
-->
<ion-view view-title="Mes points">
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="record in records">
        <div>
          <div class="bold">Le {{ record.date }} à {{ record.heure }}</div>
          <div>Echange de place fait avec : <span class="bold"> {{ record.avec }} </span></div>
          <div>Nombre de points gagnés : <span class="bold"> {{ record.nbre_points_gagnes }} </span></div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
