<!--
  This template loads for the 'home' state (app.js)
  Show list of shortcuts to other screens
-->
<ion-view view-title="PIKE">
  <ion-content scroll="false">
    <!-- Show map here -->
    <!-- <div id="map" ng-style="{height: mapHeight + 'px'}"></div> -->
    <map id="map-canvas" on-create="mapCreated(map)"></map>

    <div class="modal-bg black-transparent" ng-show="showModalBg"></div>



    <!-- Booking information -->
    <div class="booking-info">
      <div>
        <img src="img/vert.png" alt="vert"> Gratuit - <img src="img/orange.png" alt="vert"> 0.50€/h - <img src="img/rouge.png" alt="vert"> 1.30€/h
      </div>
      <div class="padding" ng-class="{'stable-bg': !showForm, 'light': showForm}">Que voulez-vous faire ?</div>

      <div class="vehicles row text-center" ng-hide="showForm">

        <div id="choix" class="col item-vehicle" ng-repeat="vehicle in vehicles" ng-click="toggleVehicle($index)">
          <i class="{{ vehicle.icon }}"></i>
          <span>{{ vehicle.name }}</span>
        </div>
      </div>

    </div>
<!--
    <ion-footer-bar class="bar-stable">
      <div class="row">
        <div class="col col-20 locate-user">
          <div class="">
            <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>
          </div>
        </div>
        <div class="col col-60 find-spot">
          <button class="button button-{{ buttonStyle }} button-block find-button" ng-disabled="userState !== 'driving' && userState !== 'parked'" ng-click="requestSweetch()">
            <em>{{ requestString }}</em>
          </button>
        </div>
        <div class="col col-20">
        </div>
      </div>
    </ion-footer-bar>

    <ion-footer-bar ng-if="userState === 'sweetching' && userMode === 'parker'" class="bar-stable sweetching">
      <div class="leaver-desc" nf-if="userMode === 'parker'">
        <p>Drive to {{ driver.first_name }}, he's standing outside his car</p>
      </div>
      <div class="item item-image">
        <img class="leaver-pic" ng-src="https://graph.facebook.com/v2.0/{{ driver.facebook_id }}/picture?width=140&height=140" />
      </div>
    </ion-footer-bar>

    <ion-footer-bar ng-if="userState == 'sweetching' && userMode === 'leaver'" class="bar-stable sweetching">
      <div class="leaver-desc">
        <p>Wait for {{ driver.first_name }} outside your car. He's coming in {{ driver.eta }}. After giving the spot, confirm you Sweetched</p>
        <button class="button button-block button-balanced" ng-click="confirmSweetch()">
          I have Sweetched
        </button>
      </div>
      <div class="item item-image" id="leaver-pic-box">
        <img class="leaver-pic" ng-src="https://graph.facebook.com/v2.0/{{ driver.facebook_id }}/picture?width=140&height=140" />
      </div>
    </ion-footer-bar>
-->

  </ion-content>
</ion-view>
