<ion-view view-title="Inscription réussie !" hide-nav-bar="true" class="login-bg">
  <ion-content class="login-bg">

    <div class="login-content">

      <div class="light-bg">

        <!-- Logo -->
        <div class="padding text-center">
          <img src="img/logo_pike_on.png" class="logo">
          <h2 class="dark">
            Bienvenue sur Pike {{pseudo}}!
          </h2>
          <p class="dark">La communauté du stationnement</p>
        </div>

        <div class="padding text-center">
            Vous pouvez compléter et modifier <br>
            vos informations depuis le menu général. <br><br>
            Voulez vous voir notre didacticiel ? <br><br>
            <button class="button button-positive" ui-sref="intro">Oui</button>
            <button class="button button-positive" ui-sref="home">Non</button>
            <br><br>
        </div>

      </div>
      
    </div>

  </ion-content>
</ion-view>
