<ion-view view-title="Login" hide-nav-bar="true" class="login-bg">
  <ion-content class="login-bg">

    <div class="login-content">

      <div class="light-bg">

        <!-- Logo -->
        <div class="padding text-center">
          <img src="img/logo_pike_on.png" class="logo">
          <p class="dark">La communauté du stationnement</p>
        </div>

        <!-- Login form -->
        <div class="list padding">
          <label class="item item-input">
            <i class="ion-ios-email-outline light icon-label"></i>
            <input type="email" id="emailco" ng-model="emailco" placeholder="Email">
          </label>
          <label class="item item-input">
            <i class="ion-ios-locked-outline light icon-label"></i>
            <input type="password" id="mdpco" ng-model="mdpco" placeholder="Mot de passe">
          </label>
        </div>
        <div class="padding">
          <button class="button button-block button-positive" ng-click="validerConnexion(emailco, mdpco)">
            Connexion
          </button>
        </div>

      </div>

      <div class="padding"></div>

      <!-- Other links -->
      <div class="row">

        <div class="col">
          <a class="light" href="#/mdp_oublie">Mot de passe oublié?</a>
        </div>
        <div class="col text-right">
          <a ui-sref="register" class="stable">Inscription</a>
        </div>

      </div>

    </div>

  </ion-content>
</ion-view>
