<form method="post" action="" id="form_inscription">
    <h3>Inscription</h3>
    <p>
        <input type="email" name="email" id="email_inscription" placeholder="Adresse mail">
        <input type="password" id="mdp_inscription" name="password" placeholder="Mot de passe">
        <br>
        <input type="submit" id="valider_inscription" value="Valider">
    </p>
</form>
<form method="" action="" id="form_connexion">
    <h3>Connexion</h3>
    <p>
        <input type="email" name="email" id="email" placeholder="Adresse mail">
        <input type="password" name="password" id="mdp" placeholder="Mot de passe">
        <br>
        <input type="submit" id="valider_connexion" value="Valider">
    </p>
</form>
<p id="user"></p>
<a href="setGeofire.html">Geolocation</a><br><button id="bouton">Button</button>
<div id="log"></div>
<div class="parking-opendata-example" id="map-canvas"></div>
