<ion-view view-title="Mot de passe oublié ?" hide-nav-bar="true" class="login-bg">
  <ion-content class="login-bg">

    <div class="login-content">

      <div class="light-bg">

        <!-- Logo -->
        <div class="padding text-center">
          <img src="img/logo_pike_on.png" class="logo">
          <p class="dark">La communauté du stationnement</p>
        </div>

        <!-- Login form -->
        <br><br>
        Veuillez saisir votre adresse email : <br>
        <div class="list padding">
          <label class="item item-input">
            <i class="ion-ios-email-outline light icon-label"></i>
            <input type="email" id="email_mdpo" placeholder="Email">
          </label>
        </div>
        <div class="padding">
          <button class="button button-block button-positive" ng-click="mdpOublie()">
            Valider
          </button>
          <button class="button button-block button-positive" ui-sref="login">
            Retour
          </button>
        </div>

      </div>

    </div>

  </ion-content>
</ion-view>
