    <ion-side-menus>

      <!-- Center content -->
      <ion-side-menu-content>
        <ion-nav-bar class="bar-positive" align-title="center">
          <!-- Back button -->
          <ion-nav-back-button>
            Retour
          </ion-nav-back-button>

          <!-- Burger button -->
          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
          </ion-nav-buttons>

<!--
          <ion-nav-buttons  side="right">
            <button class="button button button-royal" ng-click="leaveMode()">Leave</button>
            <button class="button button button-positive" ng-click="parkMode()">Park</button>
            <button class="button" ng-click="cancel()">Cancel</button>
          </ion-nav-buttons>
-->


        </ion-nav-bar>

        <!-- Main view content -->
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
      </ion-side-menu-content>

      <!-- Left menu -->
      <ion-side-menu side="left">
        <ion-content>

          <!-- User profile -->
          <div class="positive-bg text-center padding">
            <a ui-sref="profile">
              <img class="profile-picture" menu-close="" src="img/pike_positive.png" style="border-bottom:1px solid black;padding-bottom:5px">
              <h5 class="light">{{prenom}}</h5>
            </a>
          </div>

          <!-- Menu -->
          <div class="list" menu-close="">
            <div class="item item-icon-left" ui-sref="home">
              <i class="icon ion-ios-home-outline"></i>
              Accueil
            </div>

               <div class="item item-icon-left" ui-sref="profile">
                 <i class="icon ion-person"></i>
                 Profil
               </div>

            <div class="item item-icon-left" ui-sref="history">
              <i class="icon ion-trophy"></i>
              Mes points
            </div>

            <div class="item item-icon-left" ui-sref="support">
              <i class="icon ion-ios-help-outline"></i>
              A propos
            </div>

            <div class="item item-icon-left" ng-click="deconnexion()">
              <i class="icon ion-log-out"></i>
              Deconnexion
            </div>
          </div>

        </ion-content>

      </ion-side-menu>



    </ion-side-menus>
