<!--
  This template loads for the 'driver' state (app.js)
  driver is a $cope variable in DriverCtrl (controllers.js)
  DriverCtrl pull data from Drivers service (services.js)
-->
<ion-view view-title="Place trouvée" ng-init="vibrate()">
  <ion-content>

    <div class="driver-info rlt text-center" style="margin-top :80px;">

      <div class="driver-picture padding-bottom">

        <img class="circle" src="img/perry.png" alt=""/>
      </div>

      <h5 class="no-margin">Bonjour, je suis</h5>
      <h3 class="no-margin positive">Marc</h3>
      <h5 class="no-margin">je suis garé à 600m</h5>

      <div class="driver-plate row">

        <div class="col">
          <div class="col">
            <div>Je t'attends avec une :</div>
            <strong>Citroën <span style="color:blue">bleue</span></strong>
          </div>
          <div class="col">
            <img height=60 src="img/citroen_logo.png" alt="Citroën">
          </div>
      </div>
    </div>
<br>
          <div class="button button-positive button-block" ng-click="launchNavigator()">Se rendre à la place</div>

  </ion-content>
</ion-view>
