!--
  This template loads for the 'profile' state (app.js)
  Show user profile
  user is a $scope variable in ProfileCtrl (controllers.js)
-->
<ion-view view-title="{{ prenom }}">
  <ion-content>
    <!--Profile picture-->
    <div class="text-center user-profile">

      <img class="profile-picture circle" style="width:150px;height:150px" menu-close="" src="{{ user.profile_picture }}">
    </div>

    <!--Edit profile setting-->
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label positive">Prénom</span>
        <input type="text" ng-model="prenom">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label positive">Email</span>
        <input type="text" ng-model="email">
      </label>

      <div class="list row responsive-sm" style="margin-top:5px;">
        <label class="item item-input item-select col">
          <div class="input-label">
            Voiture
          </div>
          <select ng-model="voitureSelection" ng-options="x.model for x in voitures">
          </select>
        <!--   <tt>x.model = {{selectedOption}}</tt> -->
        </label>
        <label class="item item-input item-select col">
          <div class="input-label">
            Couleur
          </div>
          <select ng-model="couleurSelection" ng-options="x.couleur for x in couleurs">
          </select>
        </label>
      </div>

    </div>

    <div class="padding">
      <button class="button button-block button-stable" ng-click="showDetails = ! showDetails">Changer de mot de passe</button>
      <div ng-show="showDetails">
        Veuillez saisir votre : <br>
        <div class="list padding">
          <label class="item item-input">
            <i class="ion-ios-email-outline light icon-label"></i>
            <input ng-model="nouveau_mdp" type="password" placeholder="Nouveau mot de passe">
          </label>
          <button class="button button-block button-positive" ng-click="changerMdp(nouveau_mdp)">Valider</button>
        </div>
      </div>
    </div>

    <!--Action buttons-->
    <!--
    <div class="padding">
      <button class="button button-block facebook-color light">Se connecter avec Facebook</button>
    </div>
  -->
  </ion-content>
</ion-view>
