<ion-view view-title="Login" hide-nav-bar="true" class="login-bg">
  <ion-content class="login-bg">

    <div class="login-content">

      <div class="light-bg">

        <!-- Logo -->
        <div class=" text-center">
          <img src="img/logo_pike_on.png" style="height:90px;width:90px;margin-top:5px;">
          <p class="dark">La communauté du stationnement</p>
        </div>

        <!-- Login form -->
        <div class="list padding">
          <label class="item item-input">
            <i class="ion-ios-person-outline light icon-label"></i>
            <input id="prenom" ng-model="prenom" type="text" placeholder="Prénom">
          </label>
          <label class="item item-input">
            <i class="ion-ios-email-outline light icon-label"></i>
            <input id="email_inscription" ng-model="email_inscription" type="email" placeholder="Email">
          </label>
          <label class="item item-input">
            <i class="ion-ios-locked-outline light icon-label"></i>
            <input id="mdp_inscription" ng-model="mdp_inscription" type="password" placeholder="Mot de passe">
          </label>
        </div>

        <h5>Votre voiture</h5>

        <div class="list row responsive-sm">

          <label class="item item-input item-select col">
            <div class="input-label">
              Voiture
            </div>
            <select ng-model="voitureSelection" ng-change="changed(voitureSelection)" ng-options="x.model for x in voitures">
            </select>
          </label>

        </div>

        <div class="list row responsive-sm">

          <label class="item item-input item-select col">
            <div class="input-label">
              Couleur
            </div>
            <select ng-model="couleurSelection" ng-options="x.couleur for x in couleurs">
            </select>
          </label>

        </div>
          <p id="image_voiture">
            <img height=50 src="img/{{voitureSelection.logo}}" alt="{{voitureSelection.model}}">
          </p>

          <div class="padding">
            <button class="button button-block button-positive"
            ng-click="validerInscription(voitureSelection.model,couleurSelection.couleur, prenom, email_inscription, mdp_inscription)">
              Commencer !
            </button>
          </div>
      </div>

      <!-- Other links -->
      <div class="text-center padding">
          <a ui-sref="login" class="light">Déjà inscrit ? <span class="positive">Connexion</span></a>
      </div>

    </div>

  </ion-content>
</ion-view>
