<!--
  This template loads for the 'support' state (app.js)
  Show contact form
-->
<ion-view view-title="A propos">
  <ion-content scroll="true" style="font-size:1.2em">
    <div class="feedback-form padding">
      Vous souhaitez nous contacter ? <br><br>
      <textarea name="feed_back" ng-model="feed_back" placeholder="Composer votre message ici"></textarea>
      <button class="button button-block button-stable" ng-sclick="sendEmail()">Envoyer</button>
    </div>
    <div class="padding" style="margin-top:20px">

      <button class="button button-block button-stable" ui-sref="cgu">Conditions Générales d'Utilisation</button>

      <button class="button button-block button-stable" ui-sref="intro">Didacticiel</button>
    </div>

    <div class="padding">
      Notre site web : <a href="#" onclick="window.open('http://www.pike-app.com/', '_system', 'location=yes'); return false;">www.pike-app.com</a>
      <br><br>

      <a href="#" onclick="window.open('https://www.facebook.com/pikeapplication/', '_system', 'location=yes'); return false;">
        <img width="40" src="img/fb_icon.png"/></a>
      <a href="#" onclick="window.open('https://twitter.com/pike_apps', '_system', 'location=yes'); return false;"><img width="40" src="img/twitter_icon.png"/></a>
      <a href="#" onclick="window.open('https://www.linkedin.com/company/sas-pike', '_system', 'location=yes'); return false;"><img width="40" src="img/link_icon.png"/></a>
      <a href="#" onclick="window.open('https://www.instagram.com/pike.app/', '_system', 'location=yes'); return false;"><img width="40" src="img/insta_icon.png"/></a>
      <a href="#" onclick="window.open('https://plus.google.com/100856929046653169338', '_system', 'location=yes'); return false;"><img width="40" src="img/google_icon.png"/></a>
      <a href="#" onclick="window.open('https://www.youtube.com/channel/UC4UCm2ZA-SvIBQQW47hB_OA', '_system', 'location=yes'); return false;">
        <img width="40" src="img/youtube_icon.png"/></a>
     </div>
  </ion-content>`
</ion-view>
