<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view>
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Accueil -->
  <ion-tab icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/accueil">
  </ion-tab>

  <!-- Inscription -->
  <ion-tab icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/inscription">
    <ion-nav-view name="tab-inscription"></ion-nav-view>
  </ion-tab>

  <!-- Connexion -->
  <ion-tab icon-off="ion-ios-play-outline" icon-on="ion-ios-play" href="#/tab/connexion">
    <ion-nav-view name="tab-connexion"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="ion-help" icon-on="ion-help" href="#/tab/didacticiel">
    <ion-nav-view name="tab-didacticiel"></ion-nav-view>
  </ion-tab>

</ion-tabs>
</ion-view>
