/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// overwrite default colors
$balanced:                        #00B140 !default;

// new color
$gray:                            #898D97;

// some variables
$driverProfilePictureSize:        120px;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "../www/lib/ionic/scss/ionic";

// common style
a {
  color: inherit;
  text-decoration: none;
}
// common class
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.rlt {
  position: relative;
}

.cf {
  clear: both;
}

.no-border {
  border: none;
}

.no-margin {
  margin: 0;
}

.circle {
  border-radius: 50%;
}

.padding-20 {
  padding: 20px;
}

.flex-wrap {
  flex-wrap: wrap;

  .col-33 {
    padding: 5px;
  }
}

.gray {
  color: $gray;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.text-3x {
  font-size: 3em;
}

.black-transparent {
  background: rgba(0, 0, 0, 0.8);
  color: $light;
}
.facebook-color {
  background: #4C66A4;
}

// side menu
.menu-left {
  img.profile-picture {
    width: 7em;
    height: 7em;
    margin-top: 0.75em;
  }
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-hint {
  font-size: 0.8em;
  color: #666;
}

.full-width {
  width: 100%;
}

// home page
#map {
  width: 100%;
}

.modal-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.map-overlay {
  position: absolute;
  top: 10px;
  left: 3%;
  width: 94%;

  .item {
    .label {
      font-size: 0.8em;
    }
  }
}

.booking-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: 0.5s;

  .button-circle {
    position: absolute;
    top: -25px;
    right: 6px;
    padding: 10px;
    border-radius: 50%;
    line-height: 36px;
  }

  .vehicles {
    padding: 0;
    min-height: 76px;

    .item-vehicle {
      color: $gray;

      &.active {
        border-bottom: 4px solid $balanced;
        color: $dark;
      }

      i {
        display: block;
        font-size: 3em;
      }
    }
  }

  .item {
    background: none;
    border-left: none;
    border-right: none;

    &.row {
      margin: -1px;
      padding: 5px 0;
      width: inherit;
    }
  }
}

// login page
.logo {
  margin: 20px auto 0;
  padding: 0.25em 0.5em 0.25em 0.27em;
  width: 1.5em;
  border-radius: 10%;
  font-size: 3em;
}

.login-bg {
  background: url("../img/bg2.jpg") no-repeat center;
  background-size: 100% 100%;

  .scroll {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    .login-content {
      min-width: 86%;

      .light-bg {

        // keep only bottom border
        .item-input {
          margin: 0;
          padding-left: 0;
          border: none;
          border-bottom: 1px solid #DDD;
        }

      }

    }

  }

}

// places page
.item-icon-left {

  .icon.has-label {
    height: 80%;

    .icon-small {
      font-size: 20px;

      &:before {
        width: 32px;
      }
    }

    .item-icon-label {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      font-size: 10px;
    }
  }
}

// finding page
.location-animation {
  margin: 0 auto;
  width: 240px;
  height: 240px;
  background: #009B54;

  i {
    margin-top: 100px;
    font-size: 3em;
  }
}

.list-drivers {
  .item {
    margin-bottom: 5px;
    border-radius: 3px;
  }
}

// driver profile page
.driver-top {
  height: 30%;
  padding-top: 15%;

  &>span {
    font-size: 1.2em;
  }
}

.driver-info {
  padding-top: $driverProfilePictureSize / 2 + 20px;
  height: 70%;

  .driver-picture {
    position: absolute;
    top: - $driverProfilePictureSize / 2;
    width: 100%;
    text-align: center;

    &>img {
      width: $driverProfilePictureSize;
      height: $driverProfilePictureSize;
    }
  }

  .driver-plate {
    margin-top: 40px;
  }

  .button {
    position: absolute;
    bottom: 0;
    width: 90%;
    margin-left: 5%;
  }
}

// tracking page
.tracking-info {
  position: absolute;
  bottom: 0;
  padding-left: 66px;
  width: 100%;

  .icon {
    left: 5px;
    margin-top: 5px;
    width: 54px;
    height: 54px;
  }

  .item-content {
    position: relative;
    padding-right: 80px;

    .action-icons {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 2.5em;
    }
  }
}

// support page
.feedback-form {
  textarea {
    width: 100%;
    height: 240px;
    padding: 5px;
    background: #EEE;
  }
}

// profile page
.user-profile {
  padding: 30px 10px;

  .profile-picture {
    width: 80px;
    height: 80px;
  }
}


a {
  color: inherit;
  text-decoration: none; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.rlt {
  position: relative; }

.cf {
  clear: both; }

.no-border {
  border: none; }

.no-margin {
  margin: 0; }

.circle {
  border-radius: 50%; }

.padding-20 {
  padding: 20px; }

.flex-wrap {
  flex-wrap: wrap; }
  .flex-wrap .col-33 {
    padding: 5px; }

.gray {
  color: #898D97; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.text-3x {
  font-size: 3em; }

.black-transparent {
  background: rgba(0, 0, 0, 0.8);
  color: #fff; }

.facebook-color {
  background: #4C66A4; }

.menu-left img.profile-picture {
  width: 7em;
  height: 7em;
  margin-top: 0.75em; }

.align-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.text-hint {
  font-size: 0.8em;
  color: #666; }

.full-width {
  width: 100%; }

  
#map {
  width: 100%; }

.modal-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }

.map-overlay {
  position: absolute;
  top: 10px;
  left: 3%;
  width: 94%; }
  .map-overlay .item .label {
    font-size: 0.8em; }

.booking-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: 0.5s; }
  .booking-info .button-circle {
    position: absolute;
    top: -25px;
    right: 6px;
    padding: 10px;
    border-radius: 50%;
    line-height: 36px; }
  .booking-info .vehicles {
    padding: 0;
    min-height: 76px; }
    .booking-info .vehicles .item-vehicle {
      color: #898D97; }
      .booking-info .vehicles .item-vehicle.active {
        border-bottom: 4px solid #00B140;
        color: #444; }
      .booking-info .vehicles .item-vehicle i {
        display: block;
        font-size: 3em; }
  .booking-info .item {
    background: none;
    border-left: none;
    border-right: none; }
    .booking-info .item.row {
      margin: -1px;
      padding: 5px 0;
      width: inherit; }

.logo {
  margin: 20px auto 0;
  padding: 0.25em 0.5em 0.25em 0.27em;
  width: 1.5em;
  border-radius: 10%;
  font-size: 3em; }

.login-bg {
  background: url("../img/bg2.jpg") no-repeat center;
  background-size: 100% 100%; }
  .login-bg .scroll {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center; }
    .login-bg .scroll .login-content {
      min-width: 86%; }
      .login-bg .scroll .login-content .light-bg .item-input {
        margin: 0;
        padding-left: 0;
        border: none;
        border-bottom: 1px solid #DDD; }

.item-icon-left .icon.has-label {
  height: 80%; }
  .item-icon-left .icon.has-label .icon-small {
    font-size: 20px; }
    .item-icon-left .icon.has-label .icon-small:before {
      width: 32px; }
  .item-icon-left .icon.has-label .item-icon-label {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 10px; }

.location-animation {
  margin: 0 auto;
  width: 240px;
  height: 240px;
  background: #009B54; }
  .location-animation i {
    margin-top: 100px;
    font-size: 3em; }

.list-drivers .item {
  margin-bottom: 5px;
  border-radius: 3px; }

.driver-top {
  height: 30%;
  padding-top: 15%; }
  .driver-top > span {
    font-size: 1.2em; }

.driver-info {
  padding-top: 80px;
  height: 70%; }
  .driver-info .driver-picture {
    position: absolute;
    top: -60px;
    width: 100%;
    text-align: center; }
    .driver-info .driver-picture > img {
      width: 120px;
      height: 120px; }
  .driver-info .driver-plate {
    margin-top: 40px; }
  .driver-info .button {
    position: absolute;
    bottom: 0;
    width: 90%;
    margin-left: 5%; }

.tracking-info {
  position: absolute;
  bottom: 0;
  padding-left: 66px;
  width: 100%; }
  .tracking-info .icon {
    left: 5px;
    margin-top: 5px;
    width: 54px;
    height: 54px; }
  .tracking-info .item-content {
    position: relative;
    padding-right: 80px; }
    .tracking-info .item-content .action-icons {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 2.5em; }

.feedback-form textarea {
  width: 100%;
  height: 240px;
  padding: 5px;
  background: #EEE; }

.user-profile {
  padding: 30px 10px; }
  .user-profile .profile-picture {
    width: 80px;
    height: 80px; }

/*# sourceMappingURL=ionic.app.css.map */


/* Empty. Add your own CSS if you like */
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}




/* Slider */
.slider {
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.slide-image {
  max-width:100%;
  max-height:70%;
}

.slide-box {
  margin: 0px;
  padding: 0px;
}

.slide-text {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

/* Phone screen */
.phone-form {
  width: 70%;
  margin: auto;
}

.phone-headers {
  width: 70%;
  margin: auto;
  text-align: center;
}

.phone-headers h3 {
  color: #545d60;
  padding: 15px;
}

.phone-headers h4 {
  color: #545d60;
  padding-bottom: 5px;
  font-style: italic;
}

/* map */

map {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.lolipop {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 70px;
  width: 70px;
  margin-top: -70px;
  margin-left: -29px;
}


/* Footer */

.bar-footer{
  height:80px;
}

.bar-footer.sweetching {
  height: 140px;
}

.leaver-desc {
  font-size: 1.2em;
  margin-top: auto;
  margin-bottom: auto;
  width: 70%;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}

#leaver-pic-box {
  width: 140px;
  float: right;
}

.leaver-pic {
  display: inline-block;
  width: 140px;
  height: 140px;
}

em {
  font-size: 1.3em;
}

.locate-user {
  margin-top: auto;
  margin-bottom: auto;
}

.find-spot {
  font-size: 1.4em;
}

.find-button {
  margin-top: auto;
  margin-bottom: auto;
}

.scroll {
  height: 100%;
}


#logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  width: 70%;
}

#login-fb {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.sweetch-image {
  max-width: 100%;
  max-height: 100%;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.gm-style label {
  width: auto;
  display: inline;
}

.google-maps img, .gm-style img {
  max-width: none !important;
  max-height: none !important;
}

#map-canvas {
  width: 100%;
  height: 80%;
}

.parking-opendata-example {
  height: 100%;
  width: 100%;
}

html, body {
  font-size: 1.2em;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#form_inscription,#form_connexion {
  border : 1px solid black;
  width:30%;
  text-align : center;
  vertical-align:text-top;
  display: inline-block;
  margin-left : 50px;
}




md-input-container.md-list-item-full-width {
  margin-left: 30px;
  padding-right: 64px; }
md-input-container.icon-title {
  padding-right: 30px; }
md-input-container.icon-title i {
  font-size: 22px;
  color: gray;
  position: absolute;
  margin-left: 30px;
  margin-top: 5px; }
md-input-container.icon-title i.mail {
  margin-left: 88%; }
md-input-container.icon-title i.tel {
  margin-left: 75%; }
md-input-container.icon-title i.message {
  margin-left: 88%; }
md-input-container.icon-title input {
  font-size: 16px;
  margin-left: 60px;
  background-color: transparent !important; }
md-input-container.icon-title input.input-tel {
  width: 200px; }
md-input-container.icon-title input.input-mail {
  width: 64%; }

.gm-style label {
  width: auto;
  display: inline;
}

.google-maps img, .gm-style img {
  max-width: none !important;
  max-height: none !important;
}
a.material-background {
  text-align: center;
  width: 200px;
  color: white !important;
  background-color: #0288d1;
}

#map-canvas {
  width: 100%;
  height: 80%;
}

.parking-opendata-example {
  height: 100%;
  width: 100%;
}

html, body {
  font-size: 1.2em;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f2f3f8;
}
.corps
{
  text-align: center;
  background-color: #f2f3f8;
}
.logo
{
  margin-top : 50px;
  width : 200px;
  height : auto;
}
h4,h5
{
  color : #05159a;
  margin-top : 30px;
}
span
{
  color : #05159a;
  margin-left :20px;
}
#image_voiture
{
  margin:auto;
  margin-bottom : 10px;
  width : 340px;
  height:50px;
}
.scroll {
  height: 100%;
}

#map {
  width: 100%;
  height: 50%;
}
body {
  font-family: RobotoDraft, Roboto, Helvetica Neue, sans-serif; }

.ios-course-background {
  background-color: #45AFA8 !important; }

.angular-course-background {
  background-color: #E15258 !important; }

.ionic-course-background {
  background-color: #3079AB !important; }

.android-course-background {
  background-color: #E59A13 !important; }

.wordpress-color {
  color: #0087BE !important; }

.wordpress-background {
  background-color: #0087BE !important; }

.facebook-color {
  color: #3c5c99 !important; }

.facebook-background {
  background-color: #3c5c99 !important; }

.google-plus-color {
  color: #d73d32 !important; }

.google-plus-color-background {
  background-color: #d73d32 !important; }

.instagram-color {
  color: #517fa4 !important; }

.instagram-color-background {
  background-color: #517fa4 !important; }

.foursquare-color {
  color: #f94777 !important; }

.foursquare-color-background {
  background-color: #f94777 !important; }

.dropbox-color {
  color: #017ee6 !important; }

.dropbox-color-background {
  background-color: #017ee6 !important; }

#bottom-sheet-grid-md-list .md-grid-item-content {
  height: 96px;
  margin: -10px; }
#bottom-sheet-grid-md-list .md-grid-item-content md-icon {
  height: 48px;
  width: 48px; }
#bottom-sheet-grid-md-list .md-grid-item-content i {
  font-size: 48px;
  color: gray;
  height: 48px;
  width: 48px;
  margin-top: 14px;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  text-align: center;
  margin-bottom: 8px; }

ion-header-bar {
  border-style: none;
  color: white; }

.ion-nav-button-right {
  margin-top: -7px !important;
  margin-right: 0 !important; }
.ion-nav-button-right i {
  font-size: 25px; }

.display-none {
  display: none; }

.loading-progress {
  top: 50%;
  position: fixed;
  left: 44%; }

.fade-in {
  display: none; }

.toast-form {
  text-align: center;
  height: 66px;
  max-height: none; }

.footer-fab-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px !important; }

.font-sale {
  text-decoration: line-through;
  color: black; }

.font-hot-sale {
  color: #ff5252; }

.nav-back-btn {
  margin-left: 3px; }
.nav-back-btn i {
  font-size: 21px; }

.progress-circular.spinner.spinner-android svg {
  width: 52px;
  height: 52px; }

.hide-native-scroll-y {
  overflow-y: hidden !important; }

md-sidenav {
  min-width: 78% !important;
  max-width: 78% !important;
  box-shadow: 1 2px 4px -1px rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.098), 0 1px 10px 0 rgba(0, 0, 0, 0.084); }

.md-progress-social-profile {
  display: block;
  margin: 35% auto auto auto; }

.social-card {
  margin-bottom: 10px; }
.social-card md-card-content md-list-item {
  padding: 0; }
.social-card md-card-content md-list-item img {
  width: 50px !important;
  height: 50px !important;
  margin-top: 16px !important; }
.social-card md-card-content md-list-item div.md-list-item-text h3 {
  line-height: 20px; }
.social-card md-card-content p.feed-name {
  font-size: 20px;
  font-weight: 500; }
.social-card md-card-content div.wp-content {
  margin-top: 10px;
  margin-bottom: -10px;
  pointer-events: none;
  max-height: 358px;
  overflow: hidden;
  text-overflow: ellipsis; }
.social-card md-card-content div.wp-content img {
  width: 100%;
  height: 100%; }
.social-card .social-card-image {
  padding: 4px; }
.social-card .social-card-image img {
  height: 100%;
  width: 100%; }
.social-card .social-card-footer {
  border-top: #e5e5e5;
  border-style: solid;
  border-top-width: 1px; }
.social-card .social-card-footer div.row-content {
  margin: 5px 15px;
  text-align: center;
  height: 30px; }
.social-card .social-card-footer div.row-content i {
  color: gray;
  margin-right: 6px;
  font-size: 20px; }
.social-card .social-card-footer div.row-content div {
  margin-top: 4px;
  font-size: 14px; }
.social-card .social-card-footer div.row-content div span {
  font-size: 12px;
  color: gray; }
.social-card .social-card-wp-footer {
  margin-top: -6px; }
.social-card .social-card-wp-footer .col {
  padding: 8px 10px 8px 10px;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1; }
.social-card .social-card-wp-footer .col i {
  color: gray;
  margin-right: 2px;
  font-size: 20px; }
.social-card .social-card-wp-footer .col span {
  font-size: 13px;
  color: gray; }
.social-card .social-card-wp-footer .col.no-border-bottom {
  border-bottom: none; }

.pin {
  display: inline-block;
  background: #fefefe;
  border: 0 solid #fafafa;
  box-shadow: 0 1px 1px rgba(34, 25, 25, 0.4);
  margin: 2px 0px 12px 0px;
  border-radius: 4px;
  column-break-inside: avoid;
  padding: 0;
  padding-bottom: 5px;
  opacity: 1;
  transition: all .2s ease; }
.pin img {
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
  border-radius: 4px 4px 0 0; }
.pin p {
  font: 12px/18px Arial, sans-serif;
  color: #333;
  margin: 0 10px;
  font-size: 11px; }
.pin h1 {
  font-size: 20px;
  margin: 0 10px; }
.pin div {
  margin: 5px 10px 2px; }
.pin div .pin-footer {
  font-size: 18px;
  font-weight: 500; }
.pin div .pin-footer.text-left.font-sale {
  text-decoration: line-through;
  color: black; }
.pin div .pin-footer.text-left.font-hot-sale {
  color: #ff5252; }
.pin div .pin-footer.text-right {
  float: right;
  background-color: #ff5252;
  border-radius: 80px;
  color: white;
  font-weight: 500;
  font-size: 11px;
  width: 40px;
  text-align: center; }

.toolbar-medium {
  max-height: 160px !important;
  height: 160px !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); }
.toolbar-medium div {
  padding: 26px 10px 10px 10px;
  text-align: center;
  height: inherit !important; }
.toolbar-medium h1 {
  color: white;
  font-size: 34px; }
.toolbar-medium h2 {
  color: white;
  font-size: 18px; }
.toolbar-medium h3 {
  color: white;
  font-size: 28px !important; }
.toolbar-medium md-input-container {
  margin: auto 20px auto 20px; }
.toolbar-medium md-input-container input {
  border-bottom-color: white;
  color: white; }
.toolbar-medium md-input-container ::-webkit-input-placeholder {
  color: white; }
.toolbar-medium md-input-container :-moz-placeholder {
  /* Firefox 18- */
  color: white; }
.toolbar-medium md-input-container ::-moz-placeholder {
  /* Firefox 19+ */
  color: white; }
.toolbar-medium md-input-container :-ms-input-placeholder {
  color: white; }

.toolbar-with-image {
  max-height: 210px !important;
  height: 210px !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  background-image: url(../img/contract_us_bg.jpg);
  background-size: cover; }
.toolbar-with-image div {
  padding: 70px 10px 10px 10px;
  text-align: center;
  height: inherit !important; }
.toolbar-with-image h1 {
  color: white;
  font-size: 34px; }
.toolbar-with-image h2 {
  color: white;
  font-size: 18px; }
.toolbar-with-image h3 {
  color: white;
  font-size: 28px !important; }
.toolbar-with-image md-input-container {
  margin: auto 20px auto 20px; }
.toolbar-with-image md-input-container input {
  border-bottom-color: white;
  color: white; }
.toolbar-with-image md-input-container ::-webkit-input-placeholder {
  color: white; }
.toolbar-with-image md-input-container :-moz-placeholder {
  /* Firefox 18- */
  color: white; }
.toolbar-with-image md-input-container ::-moz-placeholder {
  /* Firefox 19+ */
  color: white; }
.toolbar-with-image md-input-container :-ms-input-placeholder {
  color: white; }

.toolbar-in-content {
  top: -18px !important; }

.toolbar-image-cover {
  width: 100%;
  height: 190px !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position-y: -30px;
  text-align: center; }
.toolbar-image-cover.product {
  background-position-y: -60px; }
.toolbar-image-cover img.user-img {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  margin-top: 16px; }

.md-button.md-accent.md-fab.fab-toolbar-medium {
  float: right;
  right: 25px;
  padding: 15px;
  line-height: 0 !important;
  margin-top: -29px; }
.md-button.md-accent.md-fab.fab-toolbar-medium i {
  vertical-align: text-top;
  font-size: x-large;
  color: white; }

.md-button.md-accent.md-fab.fab-footer {
  float: right;
  right: 25px;
  padding: 15px;
  line-height: 0 !important;
  margin-bottom: 25px;
  margin-top: -65px; }
.md-button.md-accent.md-fab.fab-footer i {
  vertical-align: text-top;
  font-size: x-large;
  color: white; }

.disabled-link {
  pointer-events: none;
  cursor: default;
  color: gray;
  opacity: 0.7; }

.md-bottom-sheet-list-item {
  margin: 0;
  font-size: inherit;
  height: inherit;
  text-align: left;
  text-transform: none;
  width: 100%;
  white-space: normal;
  padding: 5px 16px 0; }
.md-bottom-sheet-list-item i {
  margin-right: 32px;
  margin-left: 22px;
  font-size: 22px;
  color: gray; }
.md-bottom-sheet-list-item span {
  text-transform: none;
  font-size: 15px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-weight: normal; }

.md-bottom-sheet-header {
  font-size: 14px !important;
  margin: 34px 0 10px 8px !important;
  font-weight: 500 !important; }

.dialog-action-btn {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 10px;
  cursor: pointer; }

.social-button {
  color: white !important;
  margin: 20px;
  display: block;
  padding: 4px 30px;
  margin-left: auto;
  margin-right: auto;
  width: 246px; }

.social-button.default-button-color {
  color: black !important; }

.md-raised.social-default-button {
  padding: 0 27px;
  margin-right: 5px;
  margin-top: 10px; }

.menu-item-button {
  margin-top: 6px; }

.md-list-item-full-width {
  margin-left: 30px;
  padding-right: 64px;
  width: 100%; }

.md-list-item-default i {
  margin-right: 32px;
  margin-left: 22px;
  font-size: 22px;
  color: gray; }

md-list-item .md-list-item-default p {
  font-size: 15px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis; }

.md-list-item-default span {
  font-size: 15px;
  margin-right: 20px; }

.md-list-item-md-menu-right {
  margin-right: 0; }

#toggle-menu-left-header {
  height: 154px;
  background: url(../img/background_cover_pixels.png) repeat 0;
  background-position-x: 8px;
  color: white;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.14), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  background-repeat: repeat;
  position: relative;
  background-size: 80%;
  z-index: 9000; }
#toggle-menu-left-header div.menu-left-header {
  position: relative;
  top: 58%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 0 0 16px; }
#toggle-menu-left-header div.menu-left-header img.user-img {
  border-radius: 50%;
  width: 62px;
  height: 62px;
  margin-bottom: 2px; }
#toggle-menu-left-header div.menu-left-header p {
  font-weight: bolder; }
#toggle-menu-left-header div.menu-left-header p span.title {
  font-size: 16px; }
#toggle-menu-left-header div.menu-left-header p span.sub-title {
  font-size: 12px; }

#toggle-menu-left-content {
  margin-top: 154px; }
#toggle-menu-left-content md-list h2 {
  background-color: transparent !important; }
#toggle-menu-left-content md-list h2 div.md-subheader-inner {
  background-color: transparent !important; }
#toggle-menu-left-content md-list md-list-item.menu-list-item {
  display: table;
  width: 100%; }
#toggle-menu-left-content md-list md-list-item.menu-list-item i {
  margin-right: 30px;
  margin-left: 22px;
  font-size: 19px;
  color: gray;
  width: 20px; }
#toggle-menu-left-content md-list md-list-item.menu-list-item span {
  font-size: 15px; }
#toggle-menu-left-content .menu-list .menu-item {
  padding: 14px; }
#toggle-menu-left-content .menu-list .menu-item .col-33 {
  text-align: center;
  font-size: 22px;
  color: gray; }
#toggle-menu-left-content .menu-list .menu-item .col-66 {
  font-size: 15px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis; }

#contract-list-content {
  margin-top: 164px; }
#contract-list-content .contract-list-item {
  padding: 14px 5px 14px 5px; }
#contract-list-content .contract-list-item .col-25.icon-user {
  text-align: center;
  margin-left: -2px; }
#contract-list-content .contract-list-item .col-25.icon-user i {
  font-size: 22px;
  color: gray; }
#contract-list-content .contract-list-item .col-50 {
  margin-left: -5px;
  font-size: 15px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis; }
#contract-list-content .contract-list-item .col-25.status-button md-menu {
  padding: 0 20px 0 0;
  float: right; }
#contract-list-content .contract-list-item .col-25.status-button md-menu p {
  margin: 0; }

#contract-list-loading-progress {
  top: 56% !important; }

#contract-details-content {
  margin-top: 20px; }
#contract-details-content md-input-container i {
  font-size: 22px;
  color: gray;
  position: absolute;
  margin-left: 30px;
  margin-top: 5px; }
#contract-details-content md-input-container i.mail {
  margin-left: 88%; }
#contract-details-content md-input-container i.tel {
  margin-left: 75%; }
#contract-details-content md-input-container i.message {
  margin-left: 88%; }
#contract-details-content md-input-container input {
  font-size: 16px;
  margin-left: 60px;
  background-color: transparent !important; }
#contract-details-content md-input-container input.input-tel {
  width: 200px; }
#contract-details-content md-input-container input.input-mail {
  width: 64%; }
#contract-details-content md-switch {
  font-size: 16px;
  margin-left: 30px;
  margin-top: 0; }

#note-list-content {
  background-color: #f6f6f6; }
#note-list-content md-card.card-item {
  height: 135px;
  overflow: hidden;
  margin-bottom: 16px;
  text-transform: uppercase; }
#note-list-content md-card.card-item md-card-content .card-content .note-content-detail {
  text-align: left;
  font-size: 11px;
  font-weight: 500;
  color: gray; }
#note-list-content md-list {
  margin-top: 5px; }
#note-list-content md-list md-list-item md-input-container.search-box {
  width: 100%;
  margin-bottom: -20px; }
#note-list-content md-list md-list-item md-input-container.search-box i {
  position: absolute;
  font-size: 22px;
  color: gray; }
#note-list-content md-list md-list-item md-input-container.search-box input {
  margin-left: 20px; }
#note-list-content md-list md-list-item md-card {
  height: 136px;
  width: 100%; }
#note-list-content md-list md-list-item md-card button {
  margin: 0; }
#note-list-content md-list md-list-item md-card button md-card-content {
  text-align: left;
  color: gray;
  padding: 10px; }
#note-list-content md-list md-list-item md-card button md-card-content .card-content {
  margin-top: -24px;
  margin-left: 10px; }
#note-list-content md-list md-list-item md-card button md-card-content .card-content h1 {
  margin-bottom: 5px; }
#note-list-content md-list md-list-item md-card button md-card-content .card-content h1 span {
  max-width: 260px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis; }
#note-list-content md-list md-list-item md-card button md-card-content .card-content h1 span i {
  margin-right: 2px; }
#note-list-content md-list md-list-item md-card button md-card-content .card-content div {
  white-space: normal;
  line-height: 18px;
  font-size: 11px;
  height: 64px; }

#note-detail-content {
  margin: 0px 12px 0 12px; }
#note-detail-content p {
  margin-left: 4px;
  margin-top: 0;
  margin-bottom: -20px; }
#note-detail-content md-input-container {
  width: 100%;
  margin-top: 26px; }
#note-detail-content textarea {
  width: 100%;
  line-height: inherit;
  margin-top: -14px;
  margin-left: 2px; }
#note-detail-content span {
  margin-left: 3px;
  margin-top: -10px; }

#social-login {
  text-align: center;
  background-color: #f6f6f6; }
#social-login.bg-white {
  background-color: white; }
#social-login form {
  margin-top: 33%; }
#social-login form.fakeLogin-form {
  margin-top: 22%; }
#social-login form div i {
  font-size: 90px;
  margin-bottom: 16px; }
#social-login form div img {
  width: 86px;
  margin-bottom: 10px; }
#social-login form #fakeLogin hr {
  margin: 10px 16% 0 16%;
  border-width: 1px; }
#social-login form #fakeLogin md-input-container {
  margin: 10px 16% 0 16%; }
#social-login form #fakeLogin md-input-container input {
  width: 100%;
  height: 30px;
  background: transparent;
  border: none; }
#social-login form #fakeLogin md-input-container input.user-name {
  margin-top: 10px;
  margin-bottom: -20px; }
#social-login form div.sub-header {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px; }
#social-login form div div.footer {
  margin-top: 40px; }
#social-login form div div.footer a {
  color: gray; }
#social-login div.wordpress-login md-input-container {
  margin: auto;
  width: 246px; }
#social-login div.wordpress-login md-input-container input {
  color: #0087BE;
  font-weight: 500;
  border-bottom-color: #0087BE; }

#social-profile-content div.row {
  margin: 10px 0 10px 0;
  padding: 10px; }
#social-profile-content div.row div.col-33 {
  font-size: 26px;
  color: gray;
  text-align: center; }

#dropbox-profile-loading-progress {
  top: 46% !important; }

#social-feed-content {
  background-color: #f6f6f6; }

#product-list-content md-toolbar {
  background-image: url(../img/background_cover_pixels.png);
  margin-bottom: -14px;
  height: 154px !important;
  margin-top: 18px; }

#social-sign-up-content {
  padding: 0 31px 0 31px; }
#social-sign-up-content .app-icon {
  margin: 20px;
  text-align: center; }
#social-sign-up-content img {
  width: 92px; }
#social-sign-up-content md-input-container {
  margin-left: 10px; }
#social-sign-up-content md-input-container div {
  border-bottom-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  border-width: 1px; }
#social-sign-up-content md-input-container div input {
  border-bottom-style: none;
  height: 30px; }
#social-sign-up-content md-checkbox {
  width: 100%;
  font-size: 13px;
  margin-left: 10px;
  margin-bottom: 10px; }
#social-sign-up-content md-checkbox a {
  font-size: 13px;
  color: gray; }
#social-sign-up-content md-checkbox div.md-label {
  width: 100%; }
#social-sign-up-content a.social-button {
  width: 100%; }

#product-detail-tabs {
  height: 760px;
  min-height: 760px;
  border: none; }

#product-detail-tab-detail div.detail-form {
  margin: 10px 20px; }
#product-detail-tab-detail div.detail-form div.product-detail-header {
  margin-top: 20px; }
#product-detail-tab-detail div.detail-form div.product-detail-header h1 {
  font-size: 30px; }
#product-detail-tab-detail div.detail-form div.product-detail-header p {
  font-size: 16px;
  color: gray;
  line-height: normal; }
#product-detail-tab-detail div.detail-form div.product-detail-price {
  margin-left: 2px;
  height: 80px; }
#product-detail-tab-detail div.detail-form div.product-detail-price div.left {
  font-size: 26px;
  float: left;
  margin-top: 12px;
  line-height: 28px; }
#product-detail-tab-detail div.detail-form div.product-detail-price div.right {
  font-size: 26px;
  float: right; }
#product-detail-tab-detail div.detail-form div.product-detail-price div.right a {
  width: 116px;
  margin-top: 22px;
  margin-right: 10px; }
#product-detail-tab-detail div.detail-form div.product-detail-shipping {
  border-top: #dbdbdb;
  border-top-style: solid;
  border-top-width: 1px;
  margin-top: 16px;
  height: 128px; }
#product-detail-tab-detail div.detail-form div.product-detail-shipping div.col-67 {
  font-size: 26px;
  margin-top: 12px;
  line-height: 28px;
  width: 160px; }
#product-detail-tab-detail div.detail-form div.product-detail-shipping div.col-67 p {
  font-size: 16px;
  color: gray;
  margin: 0; }
#product-detail-tab-detail div.detail-form div.product-detail-shipping div.col-33 {
  font-size: 22px;
  text-align: center;
  margin-top: 18px;
  width: 120px; }
#product-detail-tab-detail div.detail-form div.product-detail-shipping div.col-33 p {
  margin-top: 15px;
  font-weight: 500; }
#product-detail-tab-detail div.detail-form div.product-detail-review {
  border-top: #dbdbdb;
  border-top-style: solid;
  border-top-width: 1px;
  margin-top: 10px;
  padding-top: 20px; }
#product-detail-tab-detail div.detail-form div.product-detail-review p {
  font-size: 16px; }
#product-detail-tab-detail div.detail-form div.product-detail-review p span {
  color: #e3cf7a;
  margin-left: 10px; }
#product-detail-tab-detail div.detail-form div.product-detail-note {
  border-top: #dbdbdb;
  border-top-style: solid;
  border-top-width: 1px;
  margin-top: 10px;
  padding-top: 20px; }
#product-detail-tab-detail div.detail-form div.product-detail-note h1 {
  font-size: 24px; }
#product-detail-tab-detail div.detail-form div.product-detail-note p {
  font-size: 16px;
  color: gray;
  margin: 0; }

#product-detail-tab-product {
  margin: 10px 20px; }
#product-detail-tab-product div.pin {
  text-align: center;
  display: block;
  margin: auto;
  width: 90%; }
#product-detail-tab-product div.pin a {
  width: 92%; }

#mobile-contract-list-content {
  margin-top: 164px; }

#mobile-contract-detail-content {
  width: 100%; }
#mobile-contract-detail-content md-input-container {
  width: 90%; }
#mobile-contract-detail-content md-input-container i {
  font-size: 22px;
  color: gray;
  position: absolute;
  margin-left: 30px;
  margin-top: 5px; }
#mobile-contract-detail-content md-input-container i.mail {
  margin-left: 88%; }
#mobile-contract-detail-content md-input-container i.tel {
  margin-left: 75%; }
#mobile-contract-detail-content md-input-container i.message {
  margin-left: 88%; }
#mobile-contract-detail-content md-input-container input {
  font-size: 16px;
  margin-left: 60px;
  background-color: transparent !important; }
#mobile-contract-detail-content md-input-container input.input-tel {
  width: 200px; }
#mobile-contract-detail-content md-input-container input.input-mail {
  width: 64%; }

#flash-light-icon {
  text-align: center;
  margin-top: 50px; }
#flash-light-icon .icon-flash-light {
  font-size: 140px;
  color: gray; }
#flash-light-icon .flash-light-color {
  color: #e3cf7a !important; }

#flash-light-control {
  width: 100%;
  text-align: center; }
#flash-light-control p {
  font-size: 26px;
  margin: 20px; }
#flash-light-control a {
  width: 60%;
  height: 40px;
  vertical-align: middle; }

#vibration-icon {
  text-align: center;
  margin-top: 50px; }
#vibration-icon .icon-vibration {
  font-size: 180px;
  color: gray; }
#vibration-icon .vibration-sad-color {
  color: #f44336 !important; }

#vibration-control {
  width: 100%;
  text-align: center; }
#vibration-control p {
  font-size: 26px;
  margin: 20px; }
#vibration-control a {
  width: 60%;
  height: 40px;
  vertical-align: middle; }

#device-information-content {
  margin-top: -16px; }
#device-information-content md-list-item div.col-50.title {
  text-align: right;
  padding-right: 4px; }
#device-information-content md-list-item div.col {
  text-align: center; }

#device-information-loading-progress {
  top: 56% !important; }

#wordpress-post-content {
  padding: 20px; }
#wordpress-post-content md-list.comment h2.md-subheader.md-default-theme div.md-subheader-inner {
  padding: 16px 0px 12px 0px !important;
  color: black; }
#wordpress-post-content p.feed-name {
  font-size: 26px;
  font-weight: 500;
  line-height: 28px !important;
  margin-top: 6px;
  margin-bottom: 24px;
  padding-right: 20px !important; }
#wordpress-post-content div.wp-content {
  margin-top: 10px;
  margin-bottom: -10px;
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis; }
#wordpress-post-content div.wp-content img {
  width: 100%;
  height: 100%; }
#wordpress-post-content md-list-item {
  padding: 0; }
#wordpress-post-content md-list-item img {
  width: 50px !important;
  height: 50px !important;
  margin-top: 16px !important; }
#wordpress-post-content md-list-item div.md-list-item-text h3 {
  line-height: 20px; }
#wordpress-post-content .social-card-footer {
  border-color: #e5e5e5;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px; }
#wordpress-post-content .social-card-wp-footer {
  margin-top: -6px; }
#wordpress-post-content .social-card-wp-footer .col {
  padding: 8px 8px 8px 8px;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1; }
#wordpress-post-content .social-card-wp-footer .col i {
  color: gray;
  margin-right: 2px;
  font-size: 20px; }
#wordpress-post-content .social-card-wp-footer .col span {
  font-size: 13px;
  color: gray; }
#wordpress-post-content .social-card-wp-footer .col.no-border-bottom {
  border-bottom: none; }

#wordpress-post-loading-progress {
  top: 46% !important; }

#contract-us-content {
  top: 230px;
  margin: 0 20px 0 20px;
  color: gray; }
#contract-us-content div.row.header div.col {
  font-size: 18px; }
#contract-us-content div.row.content {
  margin: 10px; }
#contract-us-content div.row.content div.col-75 {
  font-size: 15px; }
#contract-us-content div.row.content div.col-25 {
  margin-left: 12px; }
#contract-us-content div.row.content div.col-25 i {
  font-size: 24px;
  color: gray; }

#google-admob-icon {
  text-align: center;
  margin-top: 50px; }
#google-admob-icon .icon-google-admob {
  font-size: 140px;
  color: gray; }
#google-admob-icon .google-admob-color {
  color: #e3cf7a !important; }

#google-admob-control {
  width: 100%;
  text-align: center; }
#google-admob-control p {
  font-size: 26px;
  margin: 20px; }
#google-admob-control a {
  width: 60%;
  height: 40px;
  vertical-align: middle; }

#image-picker-content {
  margin-top: 164px;
  background-color: #f6f6f6;
  padding: 20px; }
#image-picker-content md-list md-card {
  margin-bottom: 30px; }
#image-picker-content md-list md-card md-card-content {
  padding: 14px 10px 10px 16px; }
#image-picker-content md-list md-card md-card-content h2 {
  color: gray !important;
  font-size: 18px;
  font-weight: 400; }

#try-app-content {
  height: 100%; }
#try-app-content .slider {
  height: 100%; }
#try-app-content .slider-slide {
  padding-top: 80px;
  text-align: center;
  font-weight: 500; }
#try-app-content .slider-pager {
  margin-bottom: 96px !important; }
#try-app-content .slider-slide {
  padding-top: 0; }
#try-app-content .icon.ion-record {
  color: gray;
  font-size: 8px; }
#try-app-content span {
  margin: 0; }
#try-app-content img {
  width: 100%; }
#try-app-content .slide-01 {
  background: url(../img/slide_01.png);
  background-repeat: no-repeat;
  background-size: 100%; }
#try-app-content .slide-01 .try-app-footer-content {
  bottom: 20px;
  position: fixed;
  padding: 16px 2px 10px 2px; }
#try-app-content .slide-01 .try-app-footer-content div.col-50 a {
  width: 80% !important;
  height: 30px; }
#try-app-content . {
  background: url(../img/slide_02.png);
  background-repeat: no-repeat;
  background-size: 100%; }
#try-app-content .slide-03 {
  background: url(../img/slide_03.png);
  background-repeat: no-repeat;
  background-size: 100%; }
#try-app-content .slide-04 {
  background: url(../img/slide_04.png);
  background-repeat: no-repeat;
  background-size: 100%; }
#try-app-content .slide-05 {
  background: url(../img/slide_05.png);
  background-repeat: no-repeat;
  background-size: 100%; }
#try-app-content .slide-06 {
  background: url(../img/slide_06.png);
  background-repeat: no-repeat;
  background-size: 100%; }
#try-app-content .slide-07 {
  background: url(../img/slide_07.png);
  background-repeat: no-repeat;
  background-size: 100%; }
#try-app-content .slide-08 {
  background: url(../img/slide_08.png);
  background-repeat: no-repeat;
  background-size: 100%; }
#try-app-content .slide-08 .sign-up-button {
  top: 52%;
  font-size: 17px;
  line-height: 40px;
  color: white;
  width: 64%; }

#dashboard-content {
  margin-top: 164px; }
#dashboard-content .menu-more {
  text-align: right; }
#dashboard-content .menu-list {
  padding-top: 5px;
  padding-bottom: 10px !important; }
#dashboard-content .menu-list .menu-item {
  padding: 14px; }
#dashboard-content .menu-list .menu-item .col-25 {
  text-align: center;
  font-size: 22px;
  color: gray; }
#dashboard-content .menu-list .menu-item .col-50 {
  font-size: 15px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis; }

{
  height: 100%; }
.slider {
  height: 100%; }
.slider-slide {
  padding-top: 70px; }
.slider-pager {
  margin-bottom: 78px !important; }
.slider-slide {
  padding-top: 0; }
.icon.ion-record {
  color: gray;
  font-size: 8px; }
span {
  margin: 0; }
.slide-01 {
  top: 20%;
  text-align: center; }
.slide-01 .button-icon-content {
  margin: 8px; }
.slide-01 .button-icon-content .button-icon {
  margin: 12px;
  font-size: 46px;
  color: gray; }
.slide-01 .md-raised.md-button.md-default-theme {
  width: 160px; }
.slide-01 .md-raised.md-button.md-default-theme.material-background {
  color: white; }
.slide-01 .md-button.md-accent.md-fab i {
  font-size: x-large;
  color: white; }
. {
  top: 14%; }
.  {
  margin: 20px 20px 0 34px; }
.  md-input-container.md-list-item-full-width {
  margin-left: 30px;
  padding-right: 64px; }
.  md-input-container.icon-title {
  padding-right: 30px; }
.  md-input-container.icon-title i {
  font-size: 22px;
  color: gray;
  position: absolute;
  margin-left: 30px;
  margin-top: 5px; }
.  md-input-container.icon-title i.mail {
  margin-left: 88%; }
.  md-input-container.icon-title i.tel {
  margin-left: 75%; }
.  md-input-container.icon-title i.message {
  margin-left: 88%; }
.  md-input-container.icon-title input {
  font-size: 16px;
  margin-left: 60px;
  background-color: transparent !important; }
.  md-input-container.icon-title input.input-tel {
  width: 200px; }
.  md-input-container.icon-title input.input-mail {
  width: 64%; }
.slide-03 {
  top: 24%; }
.slide-03 div.md-label {
  width: 100%; }
.slide-03 .switch-container {
  margin-left: 20% !important; }
.slide-03 .checkbox-container {
  margin-left: 28% !important; }
.slide-03 .checkbox-container md-checkbox .md-label {
  padding-left: 10px; }
.slide-03 .radio-container {
  margin-left: 26% !important; }
.slide-04 {
  top: 20%;
  padding-left: 6px; }
.slide-04 md-card {
  width: 240px;
  margin: auto; }
.slide-05 {
  top: 40%;
  padding-left: 10px; }
.slide-05 .col {
  text-align: center; }
.slide-05 a.material-background {
  text-align: center;
  width: 200px;
  color: white !important; }
.slide-05 p {
  margin-top: 14px;
  padding-left: 11px;
  font-size: 20px;
  color: gray; }
.slide-06 {
  top: 40%;
  padding-left: 10px; }
.slide-06 .col {
  text-align: center; }
.slide-06 a.material-background {
  width: 200px;
  color: white !important; }
.slide-07 {
  top: 40%;
  padding-left: 10px; }
.slide-07 .col {
  text-align: center; }
.slide-07 a.material-background {
  width: 200px;
  color: white !important; }
.slide-08 {
  top: 35%;
  text-align: center; }
.slide-08 md-menu {
  font-size: 16px;
  color: gray; }
.slide-08 md-select {
  margin-top: -20px; }
.slide-08 md-select md-select-label {
  width: 200px; }
.slide-09 {
  text-align: center;
  top: 40%; }
.slide-09 .ui-progress-circular {
  position: fixed;
  left: 44%; }
.slide-09 .ui-progress-circular-content {
  margin-top: 80px !important;
  font-size: 18px; }
.slide-10 {
  top: 30%;
  padding: 30px; }
.slide-10 md-tabs {
  border-top: #E1E1E1;
  border-top-style: solid;
  border-width: 1px; }
.slide-10 md-tabs md-content {
  padding: 20px; }
.slide-11 {
  top: 16%;
  padding: 20px; }
.slide-12 {
  top: 20%; }
.slide-12 md-whiteframe {
  background: #fff;
  margin: 20px;
  padding: 20px;
  height: 40px; }
.slide-13 {
  background: url(../img/slide_01.png);
  background-repeat: no-repeat;
  background-size: 100%; }

#product-checkout-sub-header {
  padding: 5px 0 0 0;
  border: 0px !important;
  border-bottom-color: transparent !important;
  background-image: none;
  border-bottom: none; }
#product-checkout-sub-header #product-checkout-product-list {
  overflow: scroll;
  white-space: nowrap; }
#product-checkout-sub-header #product-checkout-product-list .scroll {
  min-width: 100%;
  padding: 0 2px 0 2px; }
#product-checkout-sub-header #product-checkout-product-list .pin {
  width: 130px;
  text-align: center;
  margin-left: 4px;
  margin-top: 0; }
#product-checkout-sub-header #product-checkout-product-list .pin img {
  height: 195px; }
#product-checkout-sub-header #product-checkout-product-list .pin p {
  margin-top: 2px; }
#product-checkout-sub-header #product-checkout-product-list .pin .pin-footer {
  margin-top: 2px; }

#product-checkout-content {
  margin-top: 230px;
  padding: 10px; }
#product-checkout-content .total-summary {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin: 10px; }
#product-checkout-content .credit-card {
  border-top-style: solid;
  border-width: 1px;
  border-top-color: #E1E1E1;
  border-bottom-style: solid;
  border-bottom-color: #E1E1E1;
  padding-top: 10px;
  padding-bottom: 8px; }
#product-checkout-content .credit-card .credit-card-icon {
  font-size: 20px;
  text-align: center; }
#product-checkout-content .credit-card .credit-card-number .card-number {
  font-size: 14px; }
#product-checkout-content .credit-card .credit-card-number .card-number-more {
  margin-left: 20px;
  font-size: 20px; }
#product-checkout-content .shipping-address {
  border-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E1E1E1;
  padding-top: 14px;
  padding-bottom: 8px; }
#product-checkout-content .shipping-address .address-icon {
  font-size: 14px;
  text-align: center; }
#product-checkout-content .shipping-address .selected-address {
  color: gray; }
#product-checkout-content .complete-order {
  margin-top: 10px;
  text-align: center; }

#pricing-content {
  font-size: 18px;
  padding: 10px; }
#pricing-content .price-header {
  color: gray;
  margin: 8px 0 8px 0; }
#pricing-content .price-header .header-name {
  font-weight: 500; }
#pricing-content .price-header .header-more {
  text-align: right;
  font-weight: 400;
  font-size: 14px; }
#pricing-content .price-detail {
  color: gray; }
#pricing-content .price-detail .package-name {
  font-weight: 500;
  padding: 14px 0 0 12px; }
#pricing-content .price-detail .package-subscribe {
  padding-top: 14px;
  padding-left: 5px;
  font-weight: 400; }
#pricing-content .price-detail .subscribe-button a {
  font-size: 18px;
  color: white; }
#pricing-content .price-detail .subscribe-button a.gold-background {
  background-color: #e3cf7a !important; }

#menu-dashboard-content {
  background-color: #f6f6f6; }
#menu-dashboard-content .menu-panel {
  background-color: white; }
#menu-dashboard-content .menu-panel .row {
  padding: 0;
  margin-bottom: 5px; }
#menu-dashboard-content .menu-panel .row .col-33 {
  text-align: center;
  padding: 22px 20px 10px 20px;
  border-left: 1px solid rgba(225, 225, 225, 0.69);
  border-bottom: 1px solid rgba(225, 225, 225, 0.69);
  color: gray; }
#menu-dashboard-content .menu-panel .row .col-33 i {
  font-size: 28px;
  margin-bottom: 2px; }
#menu-dashboard-content .menu-panel .row .col-33 p {
  font-size: 12px;
  font-weight: 500; }
#menu-dashboard-content .menu-dashboard-footer {
  color: gray;
  padding: 10px; }
#menu-dashboard-content .menu-dashboard-footer md-whiteframe {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px; }
#menu-dashboard-content .menu-dashboard-footer md-whiteframe i {
  font-size: 22px; }
#menu-dashboard-content .menu-dashboard-footer md-whiteframe .col-80 {
  padding-left: 10px; }

#expense-dashboard .toolbar-expense {
  max-height: 260px !important;
  height: 260px !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); }
#expense-dashboard .toolbar-expense div {
  padding: 26px 10px 10px 10px;
  text-align: center;
  height: inherit !important; }
#expense-dashboard .toolbar-expense h1 {
  color: white;
  font-size: 30px;
  font-weight: 400; }
#expense-dashboard .toolbar-expense h2 {
  color: white;
  font-size: 16px; }
#expense-dashboard .toolbar-expense h3 {
  color: white;
  font-size: 28px !important; }
#expense-dashboard .toolbar-expense img.user-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 0; }

#expense-dashboard #expense-dashboard-content {
  margin-top: 256px; }
#expense-dashboard #expense-dashboard-content md-list-item {
  margin: 0; }
#expense-dashboard #expense-dashboard-content md-list-item.row {
  padding: 0 !important;
  height: 66px !important; }
#expense-dashboard #expense-dashboard-content md-list-item .icon {
  font-size: 30px;
  text-align: center;
  color: gray;
  margin-top: -6px; }
#expense-dashboard #expense-dashboard-content md-list-item .menu {
  padding-left: 8px; }
#expense-dashboard #expense-dashboard-content md-list-item .menu .header {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 6px; }
#expense-dashboard #expense-dashboard-content md-list-item .menu .detail {
  font-size: 12px;
  color: gray;
  margin-bottom: 0;
  margin-top: -16px; }
#expense-dashboard #expense-dashboard-content md-list-item button {
  padding: 10px; }
#expense-dashboard #expense-dashboard-content div.list-expense-menu {
  margin-top: 14px; }
#expense-dashboard #expense-dashboard-content div.list-expense-menu div.list-expense-menu-item {
  margin-top: 9px; }
#expense-dashboard #expense-dashboard-content div.list-expense-menu div.list-expense-menu-item div.row {
  position: relative;
  height: 59px;
  padding: 24px;
  border: none;
  border-bottom: 1px solid #E1E1E1; }
#expense-dashboard #expense-dashboard-content div.list-expense-menu div.list-expense-menu-item div.row div.col-20 {
  padding-left: 0;
  margin-top: -16px;
  font-size: 30px;
  color: gray; }
#expense-dashboard #expense-dashboard-content div.list-expense-menu div.list-expense-menu-item div.row div.col-80.menu .header {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 6px; }
#expense-dashboard #expense-dashboard-content div.list-expense-menu div.list-expense-menu-item div.row div.col-80.menu .detail {
  font-size: 12px;
  color: gray;
  margin-bottom: 0; }

#news-feed-content {
  background-color: #f6f6f6; }
#news-feed-content .news-item {
  border-top: 1px solid rgba(225, 225, 225, 0.69);
  background-color: white;
  margin-bottom: 20px; }
#news-feed-content .news-item .header {
  padding: 10px 20px 4px 26px;
  color: gray; }
#news-feed-content .news-item .header img.user-img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-top: 0; }
#news-feed-content .news-item .header .col-80 .name {
  font-weight: 500; }
#news-feed-content .news-item .header .col-80 .datetime {
  font-size: 12px; }
#news-feed-content .news-item .detail {
  padding: 5px 20px 4px 20px; }
#news-feed-content .news-item .detail h1 {
  font-size: 16px;
  font-weight: 400;
  color: #2882D8; }
#news-feed-content .news-item .detail p.content {
  font-size: 12px;
  color: gray; }
#news-feed-content .news-item .detail p.tags {
  color: gray; }
#news-feed-content .news-item .detail p.tags i {
  margin-right: 6px; }
#news-feed-content .news-item .footer {
  border-top: 1px solid rgba(225, 225, 225, 0.69);
  border-bottom: 2px solid rgba(225, 225, 225, 0.69);
  color: gray;
  text-align: center;
  padding: 10px; }
#news-feed-content .news-item .footer .col-33 .number {
  font-size: 14px;
  font-weight: 500; }
#news-feed-content .news-item .footer .col-33 .wording {
  font-size: 13px; }

#cloth-shop-content md-toolbar {
  background-image: url(../img/background_cover_pixels.png);
  margin-bottom: -14px;
  height: 154px !important;
  margin-top: 8px; }
#cloth-shop-content md-toolbar h2 i {
  color: #e3cf7a !important; }

#cloth-shop-content #product-list .col {
  padding: 3px; }
#cloth-shop-content #product-list .col .cube-item {
  border: 1px solid white;
  height: 160px;
  margin-bottom: 8px;
  background-position-y: -30px;
  background-size: cover; }
#cloth-shop-content #product-list .col .cube-item h1 {
  text-align: center;
  margin-top: 44%;
  font-size: 22px;
  margin-bottom: 0; }
#cloth-shop-content #product-list .col .cube-item p {
  text-align: center;
  font-size: 11px; }

#online-course #online-course-content {
  background-color: #f6f6f6; }
#online-course #online-course-content md-toolbar.toolbar-online-course {
  top: -18px !important;
  max-height: 210px !important;
  height: 210px !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); }
#online-course #online-course-content md-toolbar.toolbar-online-course div {
  padding: 26px 10px 10px 10px;
  text-align: center;
  height: inherit !important; }
#online-course #online-course-content md-toolbar.toolbar-online-course img.user-img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin-top: 0; }
#online-course #online-course-content md-toolbar.toolbar-online-course h1 {
  color: white;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 4px; }
#online-course #online-course-content md-toolbar.toolbar-online-course h2 {
  color: white;
  font-size: 14px;
  margin-top: 0px; }
#online-course #online-course-content md-toolbar.toolbar-online-course h3 {
  color: white;
  font-size: 28px !important; }
#online-course #online-course-content div.course-list {
  margin-top: -20px; }
#online-course #online-course-content div.course-list .course-item {
  margin: 20px; }
#online-course #online-course-content div.course-list .course-item .title {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 8px 10px 8px 10px;
  color: white;
  font-weight: 500;
  font-size: 16px; }
#online-course #online-course-content div.course-list .course-item .content {
  background-color: white;
  border: 1px solid #E1E1E1;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; }
#online-course #online-course-content div.course-list .course-item .content h1 {
  font-size: 19px;
  padding: 10px;
  margin: 0; }
#online-course #online-course-content div.course-list .course-item .content p {
  color: gray;
  padding: 0px 10px 10px 10px; }
#online-course #online-course-content div.course-list .course-item .content p a {
  color: white;
  margin: 0;
  width: 90px; }
#online-course #online-course-content div.course-list .course-item .content p a i {
  padding-right: 5px;
  padding-left: 0px; }

#slide-catalog-content {
  background-color: #f6f6f6;
  height: 100%; }
#slide-catalog-content .slider {
  height: 100%; }
#slide-catalog-content .slider-slide {
  padding-top: 80px;
  text-align: center;
  font-weight: 500; }
#slide-catalog-content .slider-pager {
  margin-bottom: 20px !important; }
#slide-catalog-content .slider-slide {
  padding-top: 0; }
#slide-catalog-content .icon.ion-record {
  color: gray;
  font-size: 8px; }
#slide-catalog-content span {
  margin: 0; }
#slide-catalog-content .pin {
  display: inline-block;
  background: #fefefe;
  border: 0 solid #fafafa;
  box-shadow: 0 1px 1px rgba(34, 25, 25, 0.4);
  margin: 80px 52px 60px 52px;
  border-radius: 4px;
  column-break-inside: avoid;
  padding: 0;
  padding-bottom: 5px;
  opacity: 1;
  transition: all .2s ease; }
#slide-catalog-content .pin img {
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
  border-radius: 4px 4px 0 0; }
#slide-catalog-content .pin p {
  font: 12px/18px Arial, sans-serif;
  color: #333;
  margin: 0 10px;
  font-size: 11px; }
#slide-catalog-content .pin h1 {
  font-size: 20px;
  margin: 0 10px; }
#slide-catalog-content .pin div {
  margin: 5px 10px 2px; }
#slide-catalog-content .pin div .pin-footer {
  font-size: 18px;
  font-weight: 500; }
#slide-catalog-content .pin div .pin-footer.text-left.font-sale {
  text-decoration: line-through;
  color: black; }
#slide-catalog-content .pin div .pin-footer.text-left.font-hot-sale {
  color: #ff5252; }
#slide-catalog-content .pin div .pin-footer.text-right {
  float: right;
  background-color: #ff5252;
  border-radius: 80px;
  color: white;
  font-weight: 500;
  font-size: 11px;
  width: 40px;
  text-align: center; }

#location-feed-content {
  padding: 10px 10px 10px 8px;
  background-color: #f6f6f6; }
#location-feed-content .location-list .location-item {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.084);
  margin-bottom: 14px; }
#location-feed-content .location-list .location-item .location-img {
  height: 110px;
  background-size: cover;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px; }
#location-feed-content .location-list .location-item .location-content {
  padding: 6px 10px 5px 10px;
  background-color: white;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px; }
#location-feed-content .location-list .location-item .location-content h1 {
  font-size: 16px;
  margin: 0;
  color: gray; }
#location-feed-content .location-list .location-item .location-content p {
  font-size: 12px;
  margin: 0;
  color: gray; }
#location-feed-content .location-list .location-item .location-content .text-add {
  float: right;
  background-color: #ff5252;
  border-radius: 80px;
  color: white;
  font-weight: 500;
  font-size: 11px;
  width: 65px;
  text-align: center;
  margin-top: 15px; }

#cube-feed-content {
  background-color: #f6f6f6; }
#cube-feed-content .feed-list .feed-item {
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.084); }
#cube-feed-content .feed-list .feed-item .feed-img {
  height: 136px;
  background-size: cover; }
#cube-feed-content .feed-list .feed-item .feed-content {
  padding: 8px 4px 5px 4px;
  color: gray;
  font-size: 14px;
  font-weight: 500; }
#cube-feed-content .feed-list .feed-item .feed-content .left i {
  font-size: 18px; }
#cube-feed-content .feed-list .feed-item .feed-content .right {
  text-align: right; }
#cube-feed-content .feed-list .feed-item .feed-content .right i {
  font-size: 18px; }

#restaurant {
  background-color: #f6f6f6; }
#restaurant #restaurant-slide-box {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.084);
  height: 180px; }
#restaurant #restaurant-slide-box .slider {
  height: 100%; }
#restaurant #restaurant-slide-box .slider-slide {
  padding-top: 80px;
  text-align: center;
  font-weight: 500; }
#restaurant #restaurant-slide-box .slider-pager {
  margin-bottom: -6px !important; }
#restaurant #restaurant-slide-box .slider-slide {
  padding-top: 0; }
#restaurant #restaurant-slide-box .icon.ion-record {
  color: gray;
  font-size: 8px; }
#restaurant #restaurant-slide-box span {
  margin: 0; }
#restaurant #restaurant-slide-box span i {
  color: white !important; }
#restaurant #restaurant-slide-box ion-slide {
  padding-top: 50px !important;
  color: white;
  font-size: 15px; }
#restaurant #restaurant-slide-box ion-slide .content {
  background-color: rgba(4, 2, 2, 0.37); }
#restaurant #restaurant-slide-box ion-slide .content h1 {
  font-size: 28px;
  color: white;
  padding-top: 5px; }
#restaurant #restaurant-slide-box ion-slide .content p {
  font-weight: 500;
  padding-bottom: 10px; }
#restaurant #restaurant-slide-box .slide-01 {
  background: url(../img/food_cover_01.png); }
#restaurant #restaurant-slide-box . {
  background: url(../img/food_cover_02.png); }
#restaurant #restaurant-slide-box .slide-03 {
  background: url(../img/food_cover_03.png); }
#restaurant #restaurant-content {
  margin-top: 30px; }
#restaurant #restaurant-content .promotions-header {
  margin-top: -20px;
  padding: 0 10px 8px 8px; }
#restaurant #restaurant-content .promotions-header h1 {
  color: gray;
  margin: 0;
  font-size: 18px; }
#restaurant #restaurant-content .menu-header {
  margin-top: -4px;
  padding: 0 10px 8px 8px; }
#restaurant #restaurant-content .menu-header h1 {
  color: gray;
  margin: 0;
  font-size: 18px; }
#restaurant #restaurant-content .menu-content-detail {
  padding: 0 10px 8px 10px;
  color: gray; }
#restaurant #restaurant-content .product-slide-list {
  overflow-x: hidden !important;
  overflow: scroll;
  white-space: nowrap; }
#restaurant #restaurant-content .product-slide-list .scroll-bar.scroll-bar-h {
  display: none !important; }
#restaurant #restaurant-content .product-slide-list .scroll {
  min-width: 100%;
  padding: 0 2px 0 2px; }
#restaurant #restaurant-content .product-slide-list .scroll .feed-list {
  height: 122px;
  padding: 0 10px 0 10px; }
#restaurant #restaurant-content .product-slide-list .scroll .feed-list .feed-item {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.084);
  width: 100px;
  height: 110px;
  display: inline-block;
  margin-right: 4px; }
#restaurant #restaurant-content .product-slide-list .scroll .feed-list .feed-item .img-header {
  height: 85px;
  background-size: cover;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px; }
#restaurant #restaurant-content .product-slide-list .scroll .feed-list .feed-item .content {
  height: 23px;
  background-color: white;
  color: gray;
  padding: 2px;
  font-weight: 500;
  text-align: center; }

#push-notification {
  text-align: center;
  background-color: #f6f6f6; }
#push-notification form {
  margin-top: 14%; }
#push-notification form div i {
  font-size: 110px;
  margin-bottom: 16px; }
#push-notification div.notification-option md-input-container {
  margin: auto;
  width: 246px; }
#push-notification div.notification-option md-input-container input {
  font-weight: 500;
  border-bottom: 1px solid #D9D9D9; }
#push-notification div.notification-option md-input-container md-select {
  padding: 0;
  text-align: left; }
#push-notification div.notification-option md-input-container md-select md-select-label {
  width: 246px;
  color: gray; }
#push-notification div.notification-option div.footer {
  margin-top: 24px; }

#map-and-location {
  text-align: center;
  background-color: #f6f6f6; }
#map-and-location form {
  margin-top: 14%; }
#map-and-location form div i {
  font-size: 110px;
  margin-bottom: 16px; }
#map-and-location div.map-input-option md-input-container {
  margin: auto;
  width: 246px; }
#map-and-location div.map-input-option md-input-container input {
  font-weight: 500;
  border-bottom: 1px solid #D9D9D9;
  text-align: center; }
#map-and-location div.map-input-option md-input-container md-select {
  padding: 0;
  text-align: left; }
#map-and-location div.map-input-option md-input-container md-select md-select-label {
  width: 246px;
  color: gray; }
#map-and-location div.map-input-option div.footer {
  margin-top: 24px; }

