<!DOCTYPE html>
<!-- commentaire test -->
<html>
  <head>
<!-- commentmodif2> -->
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


	  <!-- vehicle icons
	  --> <link href="css/vehicle.css" rel="stylesheet">


	<link href="css/style.css" rel="stylesheet">
<link href="lib/ionic/css/ionic.css" rel="stylesheet">

	<link rel="stylesheet prefetch" href="lib/angular-material/angular-material.css">
      <link rel="stylesheet" href="lib/font-awesome-4.4.0/css/font-awesome.css">


    <!-- compiled css output
		<link href="css/ionic.app.css" rel="stylesheet">
    -->




    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- google maps javascript -->

	      <!-- Firebase -->
      <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
      <!-- AngularFire -->
      <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>
 <script src="bower_components/geofire/dist/geofire.js"></script>

      <script src="https://cdn.pubnub.com/pubnub.min.js"></script>

	      <script src="lib/angular-messages/angular-messages.js"></script>
      <script src="lib/angular-aria/angular-aria.js"></script>
      <script src="lib/angular-material/angular-material.js"></script>


      <script src="cordova.js"></script>
      <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
	<script src="js/openfb-angular.js"></script>
	<script src="js/controllers.js"></script>

    <script src="js/controllersTemplate.js"></script>
    <script src="js/services.js"></script>
    <script src="js/servicesTemplate.js"></script>

        <script src="js/directives.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
<script src="lib/angularjs-geolocation/src/geolocation.js"></script>
    <script src="lib/pubnub-angular/lib/pubnub-angular.js"></script>
      <script src="bower_components/jquery/dist/jquery.js"></script>

	  <script src="bower_components/lodash/lodash.js"></script>
      <script src="bower_components/rsvp/rsvp.js"></script>
      <script src="bower_components/geofire/dist/geofire.js"></script>

      <script>

          var config = {
              apiKey: "AIzaSyB9f1uLEc8KDVJy05kq4C4P8MlzizZSw8E",
              authDomain: "pike-stationnement.firebaseapp.com",
              databaseURL: "https://pike-stationnement.firebaseio.com/",
              storageBucket: "pike-stationnement.appspot.com"
          };

          firebase.initializeApp(config);
      </script>

  </head>
  <body ng-app="pikeClient">

    <script id="contact-modal.html" type="text/ng-template">
      <div class="modal">
        <ion-header-bar>
          <h1 class="title">Conditions générales d'utilisation</h1>
        </ion-header-bar>
        <ion-content style="padding:20px;">
          <button class="button button-block button-stable" ng-click="goCgu()">Voir les Conditions Générales d'Utilisation</button>
          Accepter vous les CGU : <br><br>
          <button class="button button-positive" ng-click="closeModal(voitureModel, voitureCouleur, prenom, email_inscription, mdp_inscription)">Oui</button>
          <button class="button button-positive" ng-click="closeModal2()">Non</button>
        </ion-content>
      </div>
    </script>
    <script id="cgu-modal.html" type="text/ng-template">
      <style>

      h3,h4 {
        text-align:center;
        margin-bottom:10px;
      }

      </style>
      <div class="modal">
        <ion-header-bar>
          <h1 class="title">Conditions générales d'utilisation</h1>
        </ion-header-bar>
        <ion-content style="padding:20px;font-size:1.2em;text-align:justify">
          <button class="button button-positive button-block" ng-click="closeCgu()">Retour</button>
          <h3>Conditions Générales d’Utilisation de PIKE</h3>
          <h4>I. Introduction</h4>
          PIKE est une plateforme en ligne et une communauté mobile intermédiaire pour la
          mise à disposition de place de stationnement et plus spécifiquement de particulier à
          particulier. Les particuliers qui utilisent l’application sont nommés « Utilisateurs ». <br>
          PIKE permet, d’une part, aux Utilisateurs qui cherchent une place de stationnement
          de contacter un Utilisateur qui libère sa place de stationnement. D’autre part, PIKE
          permet aux Utilisateurs qui libèrent leur place de la proposer aux Utilisateurs qui en
          cherchent une.<br>
          PIKE est exploité par la Société PIKE, une Société par Actions Simplifiée au capital
          de 800 euro, ayant son siège au 9 rue de Thionville, 54000, NANCY et enregistré
          au Registre du Commerce des Sociétés de Nancy.<br>
          En utilisant PIKE, vous acceptez ces Conditions Générales d’Utilisation. Si vous
          n’êtes pas d’accord avec ces Conditions Générales d’Utilisation, votre seul recours
          est de cesser d’utiliser PIKE.<br>
          Si vous avez n’importe quelle question, plainte ou suggestion concernant PIKE, ou
          si vous souhaitez nous contacter, vous pouvez nous joindre à l’adresse suivante :
          contact@pike-app.com
          <h4>II. Admissibilité</h4>
          Vous êtes autorisé à utiliser notre plateforme PIKE, si vous créez un compte
          personnel PIKE et remplissez simultanément les conditions suivantes : <br>
          - vous êtes une personne physique, <br>
          - vous avez plus de dix-huit (18) ans et vous n’êtes pas frappé d’une incapacité
          juridique, <br>
          - vous avez un smartphone avec un système d’exploitation iOS ou Android, une
          connexion internet et un signal GPS, <br>
          - vous avez accepté nos Conditions Générales d’Utilisation, <br>
          - Vous avez validé et accepté votre compte PIKE. <br>
          Rejoindre la communauté PIKE est gratuite mais soumise aux conditions
          mentionnées ci-dessus. Nous pouvons refuser de valider un compte PIKE à notre
          seul jugement. Nous pouvons fermer un compte PIKE de tout Utilisateur, si nous
          croyons, à notre seul jugement, qu’il enfreint les présentes Conditions Générales
          d’Utilisation.

          <h4>III. Propriété Intellectuelle</h4>
          A condition que vous respectez ces Conditions Générales d’Utilisation, nous vous
          donnons un droit non-exclusif, non-transférable, limité et révocable d’utiliser PIKE à
          des fins personnelles non commerciales dans la mesure permise par les
          caractéristiques de PIKE et dans la mesure permise par les Conditions Générales
          d’Utilisation des catalogues d’applications de Google (Google Play) et Apple (App
          Store). <br>
          Tous les Contenus auxquels PIKE donne accès, y compris les logiciels, images,
          graphiques, logos, documents, textes, articles, slogans, Contenus d’Utilisateur et
          autres informations (« Contenu »), ainsi que tous les droits de propriété
          intellectuelle (y compris les droits d’auteur et des marques) et autres droits y
          afférents, sont la propriété exclusive de la Société PIKE ou la propriété de leurs
          propriétaires respectifs (y compris les Utilisateurs qui publient un Contenu sur
          PIKE). <br>
          Vous n’êtes pas autorisé à modifier, traduire, adapter, organiser, copier, reproduire,
          publier, vendre, licencier, utiliser à des fins publiques ou commerciales, ou exploite
          de toute autre manière le Contenu en totalité ou de manière partielle, sans le
          consentement de la Société PIKE écrit au préalable ou sans le consentement de
          leurs propriétaires respectifs. <br>
        </h4>IV. Mise à disposition de place de stationnement</h4>
          PIKE permet à un Utilisateur qui recherchent une place de stationnement de
          contacter un Utilisateur qui souhaite libérer sa place à proximité. <br>
          L’Utilisateur reconnait expressément que PIKE est une plateforme communautaire
          de mise à disposition de place de stationnement entre particulier et ne peut être
          nullement associé à un fournisseur de place de stationnement, place de parking,
          service de transport et de voyage. Les contrats entre les deux Utilisateurs sont
          directement conclus entre celui qui recherche une place et celui qui la libère.
          Les Utilisateurs déclarent et garantissent : <br>
          - qu’ils n’utilisent PIKE uniquement pour l’objet qui lui est destiné à savoir la mise
          en contact entre Utilisateurs, <br>
          - qu’ils supportent seuls leurs propres coûts liés à l’utilisation de PIKE, incluant les
          coûts de leur smartphone, l’utilisation d’internet, la connexion 3G/4G, l’utilisation
          GPS, etc, <br>
          - qu’ils respectent toutes les normes en vigueur et les présentes Conditions
          Générales d’Utilisation du service PIKE, <br>
          - qu’ils ne portent pas atteinte aux droits des tiers, <br>
          - qu’ils ne doivent pas contourner l’intermédiaire de PIKE en essayant de
          communiquer en direct avec un autre Utilisateur, <br>
          - qu’ils ne doivent pas interférer avec le bon fonctionnement de PIKE, <br>
          - qu’ils ne doivent pas utiliser le compte PIKE d’une autre personne, ni permettre à
          une tierce personne d’utiliser leur compte PIKE. <br>
          Nous ne donnons aucune garantie quand à la fiabilité des Utilisateurs de la
          communauté PIKE. Néanmoins, chaque Utilisateur aura la possibilité d’évaluer
          individuellement chaque Utilisateur par l’évaluation (note et nombre de votes
          positifs) qu’il retrouvera sur le profil de chaque Utilisateur pour se faire sa propre
          opinion. <br>
          L’Utilisateur accepte de reporter toutes actions ou omissions de la part d’un
          Utilisateur rencontré sur la plateforme PIKE qui serait susceptible de nuire à la
          bonne entente de la Communauté. <br>
          Nous nous réservons le droit, mais nous n’aurons pas l’obligation, de faciliter la
          résolution des différends entre les Utilisateurs qui se posent dans le cadre
          d’échange de place de stationnement par PIKE. <br>
          <h4>V. Rémunération des Utilisateurs</h4>
          A chaque action des Utilisateurs, un système de point les rémunères. Ces points se
          transforment en bons promotionnels et en cadeaux. <br>
          A l’inscription l’Utilisateur gagne 5 points. <br>
          Pour chaque place de stationnement échanger entre deux Utilisateurs, PIKE
          concède 50 points à l’Utilisateur qui cède sa place et 5 points à celui qui la prend.
          Si l’utilisateur cédant sa place annule sa proposition alors qu’un preneur arrive
          alors il ne gagne pas de point, et le preneur gagne tout de même ces 5 points.
          Au cas où le preneur annule sa décision, il ne gagne pas de point, et l’Utilisateur
          qui la cède gagne quand même 50 points. <br>
          Si un Utilisateur concède sa place mais qu’aucun Utilisateur ne la prend, il gagne 5
          points. <br>
          Si un Utilisateur choisit de se rendre à un parking grâce à l’application PIKE, alors il
          gagne 2 points. <br>
          Si un Utilisateur choisit, suite à une recherche infructueuse de place à céder, de
          chercher une place grâce au GPS intelligent pour trouver une place, alors il gagne
          3 points. <br>
          Chaque Utilisateur a un compte avec un crédit de point. A chaque fois, qu’un
          Utilisateur atteint mille (1000) points, il reçoit à son domicile, une enveloppe de
          récompense. Cette enveloppe comporte des bons promotionnels et des cadeaux.
          L’Utilisateur sera avisé par mail de l’envoi de cette enveloppe. <br>
          Chaque Utilisateur qui conteste tout envoi de l’enveloppe effectué en conformité
          avec ces présentes Conditions Générales d’Utilisation, doit nous aviser par écrit
          dans les trente (30) jours qui suivent la réception du mail. Le défaut de nous aviser
          entrainera la renonciation par l’Utilisateur concerné de toute réclamation relative à
          cet envoi.
          <h4>VI. Contenu de l’Utilisateur</h4>
          PIKE permet aux Utilisateurs de publier des Contenus tels que des images, des
          informations de profil, des notes et évaluations, des commentaires, et d’autres
          informations (« Contenu Utilisateur »), qui sont la propriété de l’Utilisateur
          concerné. <br>
          L’Utilisateur accepte de ne pas publier de Contenus Utilisateurs avec des fins
          commerciales ou professionnelles ou qui peuvent être illégal, nuisible, injurieux,
          offensant, diffamatoire, non autorisé, irrespectueux de la vie privée ou autrement
          inapproprié. PIKE se réserve le droit de refuser et/ou supprimer tout Contenu
          Utilisateur que nous jugerons, à notre seule consultation, en violation avec les
          présentes Conditions Générales d’Utilisation. <br>
          En postant vos Contenus Utilisateurs sur PIKE : <br>
          - vous accordez à PIKE une licence non-exclusive, transférable, sous-licenciable,
          perpétuelle, et mondiale, libres de droits et irrévocable d’utilisation, et/ou pour
          modifier, traduire, reproduire, publier et diffuser vos Contenus d’Utilisateurs dans
          le cadre de PIKE, ou tout autre de nos services et aux services de nos sociétés
          affiliées, <br>
          - l’Utilisateur accorde à chaque Utilisateur de PIKE, une licence non-exclusive,
          non-transférable et libre de redevance pour utiliser ses Contenus d’Utilisateurs
          permis par les caractéristiques de PIKE et en conformité avec ces Conditions
          Générales d’Utilisation, <br>
          - l’utilisation déclare et garantie qu’il a tous les droits nécessaires à l’application de
          ce présent article.
          <h4>VII. Avertissement</h4>
          PIKE et le Contenu de PIKE sont fournis « en l’état », sans garantie express ou
          implicite concernant la qualité, la précision, l’exactitude, la pertinence, la qualité
          marchande, d’adéquation à un usage particulier ou de non-contrefaçon. <br>
          Dans toute la mesure permise par la loi applicable, ni PIKE, ni nos sociétés
          affiliées, dirigeants, employés et autres entrepreneurs ne peuvent vous donner
          toute garantie, expresse ou implicite, quant à : <br>
          - l’opérationnel de PIKE, y compris si PIKE sera disponible à tout moment ou un
          lieu particulier, si PIKE sera compatible avec votre appareil mobile, si PIKE sera
          ininterrompu, exempt de virus, ou sans erreur, et si les erreurs seront corrigées,
          - le Contenu de PIKE (y compris les matières, matières de l’Utilisateur, et des liens
          vers des sites tiers, des services ou des offres), si elles sont vraies, exactes, et
          convient à l’usage ou portant atteinte à particulier, <br>
          - les échanges de place par PIKE, y compris la communauté PIKE et ses
          Utilisateurs quant à la sécurité de ses Utilisateurs, de la qualité des places
          proposés, la capacité ou la volonté des Utilisateurs à bien remplir les
          évaluations, <br>
          - PIKE aura toute latitude à verser, reverser, transférer ou rembourser des points
          aux Utilisateurs, si PIKE pense qu’une fraude a été commise ou une injustice a
          eu lieu. Si des plaintes contre un Utilisateur venait à être reçue par nos services,
          nous lancerions une enquête afin de déterminer s’il y a effectivement une
          incohérence. Si tel est le cas, PIKE rétablirait les compteurs de points.
          <h4>VIII. Notre responsabilité</h4>
          Ni PIKE, ni nos sociétés affiliées, dirigeants, employés, et autres entrepreneurs
          peuvent être tenus pour responsables des Contenus d’Utilisateurs, pour des
          actions ou omissions des Utilisateurs de PIKE et pour échanges de places par
          PIKE. <br>
          Dans toute la mesure permise par la loi applicable et sauf en cas de fraude ou de
          faute intentionnelle, ni PIKE, ni nos sociétés affiliées, dirigeants, employés et autres
          entrepreneurs peuvent être tenus responsables pour le Contenu sur PIKE (y
          compris les Contenus ou des liens vers des sites web tiers, des services ou des
          offres) et pour l’utilisation (ou pour l’incapacité d’utiliser) PIKE. <br>
          Dans toute la mesure permise par la loi applicable, notre Société et celle de nos
          sociétés affiliées, dirigeants, employés et d’autres entrepreneurs ne peuvent être
          tenus pour responsables pour dommages indirects, les dommages causés à des
          véhicules ou autres biens, obligations, dettes, perte de temps, perte de données,
          virus, le piratage, les dommages à l’équipement utilisés pour se connecter à PIKE,
          les honoraires d’avocat, les dommages non pécuniaires et perte de réputation, la
          liste n’étant pas exhaustive, est expressément exclue. <br>
          Sans préjudice de ce qui précède et dans toute la mesure permise par la loi
          applicable et, même en cas de manquement grave, notre responsabilité et celle de
          nos sociétés, affiliées, dirigeants, employés et d’autres entrepreneurs pour des
          dommages résultat de l’utilisation de PIKE est limitée, en tenant compte de tous les
          régimes de responsabilité : <br>
          - vers un Utilisateur qui s’est garé : le montant total des récompenses versées par
          cet Utilisateur au cours des trois (3) mois précédant l’événement, <br>
          - vers un Utilisateur qui a libéré sa place : le montant total des récompenses
          reçues au cours des trois (3) mois précédant l’incident. <br>
          <h4>IX. Vie Privée</h4>
          Certaines des données personnelles des usagers (« Données ») peuvent être
          perçus par PIKE. Le contrôleur des Données est PIKE, dont l’identité, l’adresse et
          ls coordonnées sont mentionnées ci-dessus à la section I. <br>
          Les Données suivantes seront recueillies lors de la simple visite de PIKE : dispositif
          unique et identifiant client. Ces Données sont traitées à des fins de dur gestion de
          visite sur PIKE. En outre, les Données seront stockées sur le disque dur de
          l’appareil de l’Utilisateur pour faciliter son utilisation sur PIKE, notamment en
          reconnaissant son choix de langue (« cookies »). Si un Utilisateur supprime les
          cookies de son navigateur, nous ne pouvons pas garantir la bonne utilisation de
          PIKE. <br>
          Les Données suivantes seront également recueillies lors de l’inscription à PIKE :
          identité, adresse, véhicule, image personnelle, adresse courriel. Ces Données
          seront traitées aux fins de l’exploitation et de la gestion des comptes de PIKE et
          pour permettre aux Utilisateurs de se rencontrer afin d’échanger leurs places de
          stationnement. Les adresses courriels seront également traitées pour la
          commercialisation sur les services de PIKE et ses sociétés affiliées. <br>
          La géolocalisation et les Données s’y afférents seront collectées lors de l’utilisation
          de PIKE. Ces Données seront traitées pour permettre aux Utilisateurs de se
          rencontrer afin d’échanger leurs places de stationnement et, pour des besoins de
          statistiques. <br>
          Les Données des Utilisateurs peuvent être divulguées à des sociétés partenaires.
          Ces entreprises peuvent être établies dans le monde entier et les Utilisateurs
          consentent à ce transfert. <br>
          Les Utilisateurs sont en droit de demander à tout moment accès et rectification de
          leurs Données. Les Utilisateurs peuvent exercer ces droits en contactant la Société
          à contact@pike-app.com <br>
          Les Utilisateurs ont le droit de s’opposer à tout moment au traitement de leurs
          Données à des fins mercantiles. Les Utilisateurs peuvent exercer ce en en nous
          contactant à contact@pike-app.com <br>
          <h4>X. Arrêt d’utilisation</h4>
          Vous pouvez fermer votre compte PIKE à tout moment en suivant la procédure
          indiquée sur votre compte PIKE. <br>
          A notre seule discrétion, la Société PIKE peut à tout moment, fermer le compte
          PIKE de tout Utilisateur, qui viole les présentes Conditions Générales d’Utilisation
          ou abuse de l’utilisation faite de PIKE. <br>
          La clôture de votre compte PIKE entraîne la résiliation automatique et immédiate
          de la présente convention, et sans préavis. <br>
          En cas de résiliation, les dispositions pertinentes des présentes Conditions
          Générales d’Utilisation restent en vigueur afin de permettre à la Société PIKE de
          traiter les récompenses pour les échanges de place de stationnement avant la date
          de résiliation. <br>
          <h4>XI. Loi Applicable</h4>
          Ces Conditions Générales d’Utilisation sont régies exclusivement par le droit
          français. Tout différend relatif à ces Conditions Générales d’Utilisation sera soumis
          à la compétence exclusive des tribunaux où la Société PIKE a son siège social,
          sans préjudice de l’application des dispositions impératives qui oblige la Société
          PIKE à assigner un Utilisateur devant les tribunaux de son domicile. <br>
          La Société PIKE peut modifier les Conditions Générales d’Utilisation de temps à
          autre. La Société PIKE avisera les Utilisateurs de toute modification via l’application
          PIKE. L’utilisation de PIKE après cette notification constitue une acceptation sans
          réserve des Conditions Générales d’Utilisation modifiées. Ces modifications,
          cependant, n’affectent pas les actions et les contrats déjà réalisés par PIKE. Dans
          le cas où vous n’aimes pas d’accord sur une modification, votre seul recours est de
          cesser d’utiliser PIKE. <br>
          Vous reconnaissez que nous pouvons de temps à autre réaliser des mises à jour
          ou des améliorations de nos versions PIKE, et mettre à jour automatiquement et
          systématiquement la version PIKE que vous utilisez sur votre appareil mobile. Vous
          consentez à une telle mise à jour automatique ou la mise à niveau sur votre
          appareil mobile, et acceptez que les Conditions Générales d’Utilisation
          s’appliqueront à toutes les mises à jour et mises à niveau. <br>
          Ces conditions sont sans préjudice de vos droits en vertu de la loi obligatoire.
          Si une quelconque disposition de ces Conditions Générales d’Utilisation est
          déclarée illégale, nulle ou non exécutoire pour quelque raison que ce soit, ce ne
          pourra pas affecter la validité des dispositions restantes.

        </ion-content>
      </div>
    </script>

  <ion-nav-view id="main"></ion-nav-view>
		</body>
</html>
