<ion-view view-title="Inscription réussie !" class="corps">
  <ion-content>
    <p>
      Bienvenue !
    <br><br>
      Vous pouvez compléter et modifier vos informations depuis le menu général. <br><br>
      Vous pouvez accéder à l'appli <a href="#">ici</a> <br><br>
      Voulez vous voir notre didacticiel ? <br><br>
      <button>Oui</button> <button>Non</button>
      <br><br>
      <a href="#" ng-click="deconnexion()">Deconnexion</a>
    </p>
</ion-content>
</ion-view>
