<ion-view view-title="Login" hide-nav-bar="true" class="login-bg">
  <ion-content class="login-bg">

    <div class="login-content">

      <div class="light-bg">

        <!-- Logo -->
        <div class="padding text-center">
          <div class="logo balanced-bg">
            <i class=" light icon-sedan"></i>
          </div>
          <h2 class="dark">
            ionTaxi
          </h2>
          <p class="dark">Taxi booking app for ionic</p>
        </div>

        <!-- Login form -->
        <div class="list padding">
          <label class="item item-input">
            <i class="ion-ios-email-outline light icon-label"></i>
            <input type="email" placeholder="Email">
          </label>
          <label class="item item-input">
            <i class="ion-ios-locked-outline light icon-label"></i>
            <input type="password" placeholder="Password">
          </label>
        </div>
        <div class="padding">
          <button class="button button-block button-balanced" ui-sref="home">
            Login
          </button>
        </div>

      </div>

      <div class="padding"></div>

      <!-- Other links -->
      <div class="row">

        <div class="col">
          <span class="light">Forgot password?</span>
        </div>
        <div class="col text-right">
          <a ui-sref="register" class="light">New here? <span class="balanced">Sign up</span></a>
        </div>

      </div>

    </div>

  </ion-content>
</ion-view>
