    <ion-side-menus>

       <ion-nav-bar class="bar-balanced" align-title="center">
          <!-- Back button -->
          <ion-nav-back-button>
            Back
          </ion-nav-back-button>

          <!-- Burger button -->
          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
          </ion-nav-buttons>

        </ion-nav-bar>

		
      <!-- Left menu -->
	          <!-- Main view content -->
        <ion-nav-view animation="slide-left-right"></ion-nav-view>
		</ion-side-menus>
	
      <ion-side-menu side="left">
        <ion-content>

          <!-- User profile -->
          <div class="balanced-bg text-center padding">
            <a ui-sref="profile">
              <img class="profile-picture circle" menu-close="" src="img/thumb/adam.jpg">
              <h5 class="light">Adam Lambert</h5>
            </a>
          </div>

          <!-- Menu -->
          <div class="list" menu-close="">
            <div class="item item-icon-left" ui-sref="home">
              <i class="icon ion-ios-home-outline"></i>
              Home
            </div>

            <div class="item item-icon-left" ui-sref="history">
              <i class="icon ion-android-time"></i>
              History
            </div>

            <div class="item item-icon-left" ui-sref="notification">
              <i class="icon ion-android-notifications"></i>
              Notification
              <span class="badge badge-assertive">2</span>
            </div>

            <div class="item item-icon-left" ui-sref="support">
              <i class="icon ion-ios-help-outline"></i>
              Support
            </div>

            <div class="item item-icon-left" ui-sref="login">
              <i class="icon ion-log-out"></i>
              Logout
            </div>
          </div>

        </ion-content>

      </ion-side-menu>

