<ion-view view-title="Connexion" class="corps">
  <ion-content>
  <form method="post" action="" style="margin-top:50px;">
      <md-input-container class="icon-title" md-no-float>
          <i class="ion-android-mail"></i>
          <input name="email" id="email_co" placeholder="Email">
      </md-input-container>
      <md-input-container class="icon-title" md-no-float>
          <i class="fa fa-unlock-alt"></i>
          <input type="password" id="mdp_co" name="password" placeholder="Mot de passe">
      </md-input-container>
  </form>
  <br>
    <a href="#/mdp_oublie">Mot de passe oublié</a>
  <br><br>
    <a href="" class="md-raised md-button md-default-theme material-background" ng-click="validerConnexion()">Connexion</a>
  <br><br>
  <p ng-if="connecte">
    <a href="" class="md-raised md-button md-default-theme material-background" ng-click="deconnexion()">Deconnexion</a>
  </p>

</ion-content>
</ion-view>
