<ion-view view-title="Didacticiel" class="corps">
  <ion-content class="padding">
          <div id="map" data-tap-disabled="true"></div>
          <div class="list card">
          <div class="row item item-body" style="font-size:0.8em;">
            <p class="col col-50">
            C'est {{pseudo}} qui va prendre votre place, il arrive avec
            une Citroën bleue.
            </p>
            <p class="col col-50">
            <img  width=90 src="img/citroen_logo.png" alt="citroën logo">
            </p>
          </div>
          <iframe class="item item-video" width="100%" height=100% src="https://www.youtube.com/embed/lGG6s5x9FQs" frameborder="0" allowfullscreen></iframe>
      </div>
  </ion-content>
</ion-view>
