<ion-view view-title="Inscription" class="corps">
  <ion-content>
  <form method="post" action="" style="margin-top:50px;" id="form_inscription">
    <md-input-container class="icon-title" md-no-float>
        <i class="ion-android-person"></i>
        <input name="prenom"  id="prenom" placeholder="Prenom" type="text">
    </md-input-container>
      <md-input-container class="icon-title" md-no-float>
          <i class="ion-android-mail"></i>
          <input name="email" id="email_inscription" placeholder="Email">
      </md-input-container>
      <md-input-container class="icon-title" md-no-float>
          <i class="fa fa-unlock-alt"></i>
          <input type="password" id="mdp_inscription" name="password" placeholder="Mot de passe">
      </md-input-container>
  </form>
  <h5>Votre voiture</h5>

  <div class="list row responsive-sm">

    <label class="item item-input item-select col">
      <div class="input-label">
        Voiture
      </div>
      <select ng-model="voitureSelection" ng-change="changed()" ng-options="x.model for x in voitures" id="liste_voiture">
      </select>
    </label>

  </div>

  <div class="list row responsive-sm">

    <label class="item item-input item-select col">
      <div class="input-label">
        Couleur
      </div>
      <select ng-model="couleurSelection" ng-options="x.couleur for x in couleurs" id="liste_couleur">
      </select>
    </label>

  </div>
    <p id="image_voiture">
      <img height=50 src="img/{{voitureSelection.logo}}" alt="{{voitureSelection.model}}">
    </p>
    <a href="" class="md-raised md-button md-default-theme material-background" ng-click="validerInscription()">Commencez !</a>
</ion-content>
</ion-view>
