<ion-view view-title="Mot de passe oublié ?" class="corps">
  <ion-content>
  <form method="post" action="">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="text" id="email_mdpo" name="email_mdpo" placeholder="Email">
        </label>
      </div>
  </form>
  <br><br>
    <button class="button button-positive" ng-click="mdpOublie()">Envoyer</button>
</ion-content>
</ion-view>
