<ion-side-menus>

    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-left"></i></ion-nav-back-button>
        </ion-nav-bar>
        
        <!-- Child elements will be rendered inside this ion nav view -->
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>

    </ion-pane>

    <ion-side-menu side="left">
        <header class="bar bar-header bar-dark">
            <h1 class="title">Menu</h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item item-type="item-icon-left" nav-clear menu-close href="#/app/person/me/feed">
                    <i class="icon ion-ios7-flag"></i>
                    Map
                </ion-item>
                <ion-item item-type="item-icon-left" nav-clear menu-close href="#/logout">
                    <i class="icon ion-log-out"></i>
                    Logout
                </ion-item>
                <ion-item item-type="item-icon-left" nav-clear menu-close href="#/app/inscription">
                    <i class="icon ion-log-out"></i>
                    Inscription
                </ion-item>
                <ion-item item-type="item-icon-left" menu-close nav-clear href="#/app/didactitiel">
                    <i class="icon ion-log-out"></i>
                    Didactitiel
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>
