<ion-view view-title="Login" hide-nav-bar="true" class="login-bg">
  <ion-content class="login-bg">

    <div class="login-content">

      <div class="light-bg">

        <!-- Logo -->
        <div class="padding text-center">
          <div class="logo balanced-bg">
            <i class="light icon-sedan"></i>
          </div>
          <h2 class="dark">
            ionTaxi
          </h2>
          <p class="dark">Taxi booking app for ionic</p>
        </div>

        <!-- Login form -->
        <div class="list padding">
          <label class="item item-input">
            <i class="ion-ios-person-outline light icon-label"></i>
            <input type="text" placeholder="Your name">
          </label>
          <label class="item item-input">
            <i class="ion-ios-email-outline light icon-label"></i>
            <input type="email" placeholder="Email">
          </label>
          <label class="item item-input">
            <i class="ion-ios-locked-outline light icon-label"></i>
            <input type="password" placeholder="Password">
          </label>
        </div>
        <div class="padding">
          <button class="button button-block button-balanced" ui-sref="home">
            Create account
          </button>
        </div>

      </div>

      <!-- Other links -->
      <div class="text-center padding">
          <a ui-sref="login" class="light">Have account? <span class="balanced">Login</span></a>
      </div>

    </div>

  </ion-content>
</ion-view>
