<ion-view view-title="Accueil" class="corps">
  <ion-content>
    <img src="img/logo_pike_on.png" class="logo">
    <h4>La communauté du stationnement</h4><br>
    <ion-list>
      <ion-item class="menu-left-header" href="#/inscription" ><span>Inscription</span></ion-item><br>
      <ion-item class="bar-balanced  material-background-nav-bar" href="#/connexion"><span>Déjà membre</span></ion-item><br>
      <ion-item class="bar-balanced  material-background-nav-bar" href="#/didacticiel"><span>Didacticiel</span></ion-item><br>
    </ion-list>

</ion-content>
</ion-view>
